---
import { getI18N } from "@/i18n";
import BoxIcon from "../common/BoxIcon.astro";

//Para cambiar idioma de textos
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

const {
  id = "",
  icon = "",
  url = "",
  href = "#",
  title = "Título predeterminado",
  subtitle = "Subtítulo predeterminado",
  imageSrc = "",
  imageAlt = "Ícono predeterminado",
  isNew = false, // Nueva prop para controlar el badge
  isViewed = false,
  isLate = false,
} = Astro.props;
---

<a
  id={id}
  href={href}
  data-section={id}
  class="group relative flex items-center justify-between rounded-lg border-[1px] border-hub-border p-1 hover:bg-hub-background-nav hover:drop-shadow-md dark:border-hub-border-dark dark:bg-hub-background-nav-dark hover:dark:bg-hub-background-dark"
  target="_blank"
  rel="noopener noreferrer"
>
  <!-- Badge de "New" -->
  {
    isNew && !isViewed && (
      <div class="absolute right-2 top-0 z-10 -translate-y-1/2 translate-x-1/2 transform animate-pulse rounded-full bg-sky-500 px-2 py-0.5 text-xs font-semibold text-white shadow-md">
        {i18n.SUBMITTALS.BADGE.NEW}
      </div>
    )
  }

  {
    isLate && (
      <div class="absolute right-2 top-0 z-10 -translate-y-1/2 translate-x-1/2 transform animate-pulse rounded-full bg-red-500 px-2 py-0.5 text-xs font-semibold text-white shadow-md">
        {i18n.SUBMITTALS.BADGE.LATE}
      </div>
    )
  }

  <!-- Contenedor izquierdo -->
  <div class="flex items-center">
    <div
      class="flex size-9 items-center justify-center overflow-hidden rounded-lg border-[1px] border-hub-border dark:border-hub-border-dark dark:bg-hub-background"
    >
      <i class={icon}></i>
      <!-- <img src={imageSrc} alt={imageAlt} class="w-full h-full object-cover" /> -->
    </div>

    <div class="flex flex-col justify-start pl-4">
      <h2 class="text-base font-medium text-hub-title dark:text-hub-title-dark">
        {title}
      </h2>
      <small class="text-xs text-hub-subtitle dark:text-hub-subtitle-dark">{subtitle}</small>
    </div>
  </div>

  <!-- Icono derecho -->
  <BoxIcon
    name="up-arrow-alt"
    class="size-6 text-hub-subtitle transition-transform duration-300 ease-in-out group-hover:rotate-45 dark:text-hub-subtitle-dark"
  />
</a>
