---
interface Props {
  currentUser?: any;
  project: any;
  supabaseUrl?: string;
}

const { currentUser, project, supabaseUrl } = Astro.props;
const id = Astro.params.id;
const isAuth = currentUser ? true : false;
if (!project || !project.id) {
  return null;
}

const projectId = project.id;
const currentRole = currentUser?.role;
import BoxIcon from "../common/BoxIcon.astro";

console.log("🔍 [TabPunchlist] props:", Astro.props);
---


<div class="YRrCJSr_j5nopfm4duUc Q_jg_EPdNf9eDMn1mLI2 WD962RTivt8M5sMg7WrS">
  <div
    class="YRrCJSr_j5nopfm4duUc Q_jg_EPdNf9eDMn1mLI2 R0X5VtiZIoV7IjvrxBJ_ tS181Wfa_gkJpFt03pqL"
  >
    <button
      id="toggleSidebarMobileSearch"
      type="button"
      class="mveJTCIb2WII7J4sY22F Z4DH5a4vmjReSFRBpPgz PeR2JZ9BZHYIH8Ea3F36 _7KA5gD55t2lxf9Jkj20 ZnBoTVi7VOJdCLSSU62n _q0p_O8QLU1paqtuqmI2 KLtw3_OqL54e_zEQU_yi XIIs8ZOri3wm8Wnj9N_y OPrb_iG5WDy_7F05BDOX dMTOiA3mf3FTjlHu6DqW ICV24pqO8p1LJm4GEOgS F34pkf_DAj2DlPtfAEMV"
    >
      <span class="_DVAfiyo21kM68EUVzEQ">Search</span>

      <svg
        class="MnxxlQlR1H0xJuMEE8Yr YIUegm7fh_CpJbivTu6B"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-width="2"
          d="m21 21-3.5-3.5M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Z"></path>
      </svg>
    </button>

    {
      isAuth && id && (
        <>
          <button
            type="button"
            data-dropdown-toggle="notification-dropdown"
            class="mveJTCIb2WII7J4sY22F Z4DH5a4vmjReSFRBpPgz PeR2JZ9BZHYIH8Ea3F36 _7KA5gD55t2lxf9Jkj20 ZnBoTVi7VOJdCLSSU62n _q0p_O8QLU1paqtuqmI2 KLtw3_OqL54e_zEQU_yi XIIs8ZOri3wm8Wnj9N_y OPrb_iG5WDy_7F05BDOX dMTOiA3mf3FTjlHu6DqW ICV24pqO8p1LJm4GEOgS"
          >
            <span class="_DVAfiyo21kM68EUVzEQ">View notifications</span>
            
            <BoxIcon name="checklist" variant="outline" size="md" />
          </button>

          {/* {!id && isBackend && ( */}
          <div
            class="Jq3rRDG6Hsr3eAZ0KJeH aJF41JQLhtfw_MCGt5Th _Vb9igHms0hI1PQcvp_S _SmdlCf6eUKB_V9S5IDj ZhzOGpbwY0R4TKKYr5pG Zy1Pypi71Xu6guex6urN NIAblPiyeuYQ0zW671xb wBVMFkIGfrKshbvi2gS1 mveJTCIb2WII7J4sY22F _Ybd3WwuTVljUT4vEaM3 mfNtySJCsKVaP2xnoGBY PoeKYEQfG4WfmL9xM6vu jqg6J89cvxmDiFpnV56r"
            id="notification-dropdown"
            data-popper-placement="bottom"
          >

<div id="content-punchlist">
  <div>
    <div id="punchlist-container" data-project-id={projectId}>
      <div class="mb-6 flex items-center justify-between">
        <h3 class="text-lg font-medium text-gray-900 dark:text-white">Project Checklist</h3>
      </div>

      <!-- Punchlist Items List -->
      <div id="punchlist-items-list" class="space-y-4">
        <!-- Punchlist items will be dynamically loaded here -->
      </div>
      <div>
        <div class="YRrCJSr_j5nopfm4duUc Q_jg_EPdNf9eDMn1mLI2 sJNGKHxFYdN5Nzml5J2j _9dH7mrOkzM4RTmidHTs RZmKBZs1E1eXw8vkE6jY b9aD6g2qw84oyZNsMO8j ijrOHNoSVGATsWYKl4Id ezMFUVl744lvw6ht0lFe __9sbu0yrzdhGIkLWNXl jqg6J89cvxmDiFpnV56r OyABRrnTV_kvHV7dJ0uE">
                  <h3>Notifications</h3>
                  <button
                    type="button"
                    data-tooltip-target="tooltip-options-notification"
                    class="YRrCJSr_j5nopfm4duUc SA5DoMHfwOFtY4h_qzuM Q_jg_EPdNf9eDMn1mLI2 Nm7xMnguzOx6J5Ao7yCU mveJTCIb2WII7J4sY22F Z4DH5a4vmjReSFRBpPgz PeR2JZ9BZHYIH8Ea3F36 lBgPGkku8NiP5ReH09_2 ZnBoTVi7VOJdCLSSU62n XIIs8ZOri3wm8Wnj9N_y RzANcaqunVvlLrO6_tal dMTOiA3mf3FTjlHu6DqW"
                  >
                    <BoxIcon name="checklist" variant="outline" size="md" />

                    <span class="_DVAfiyo21kM68EUVzEQ">Options</span>
                  </button>
                  <div
                    id="tooltip-options-notification"
                    role="tooltip"
                    class="H78G_4yayxs5C3xdFbnK ZBSHeVK3dmgzHTRX3hLO pq2JRWtiWcwYnw3xueNl QhmQ_v3mmDFIP9VaVOfb VPGGthdu3cy_ZP7AL7dt mveJTCIb2WII7J4sY22F foDHZclRWUf2bqma2a8U _Cj_M6jt2eLjDgkBBNgI b9aD6g2qw84oyZNsMO8j c8dCx6gnV43hTOLV6ks5 ezMFUVl744lvw6ht0lFe y6GKdvUrd7vp_pxsFb57 Db4Wzva4DMepJJiQLY7M fzhbbDQ686T8arwvi_bJ mc9bwhBTHL8mVzJvl6gz rqOAGYeDo9iWuroePkaf jqg6J89cvxmDiFpnV56r"
                  >
                    Options
                    <div class="tkX8MMO2MiTlgtbd_jG3" data-popper-arrow="" />
                  </div>
                </div>
                {/* <div class="ahOqFrhzLjivRe8a1kX_ DQNz_SZt35NaATwiWXi8 sO_tinfrMVt7QYxF_dd8 _1jTZ8KXRZul60S6czNi">
                  <a
                    href="#"
                    class="YRrCJSr_j5nopfm4duUc EpUSgjHdM6oyMXUiK_8_ RZmKBZs1E1eXw8vkE6jY i8v96MUlFwGv9qJUkAx7 _7KA5gD55t2lxf9Jkj20 _fGhMnSfYmaGrv7DvZ00 OPrb_iG5WDy_7F05BDOX"
                  >
                    <div class="VQS2tmQ_zFyBOC2tkmto">
                      <img
                        class="TZANVyZaogC2vtqxZ7oo Rr_S4jo1he4sYSgq5LE_ RpVwy4sO7Asb86CncKJ_"
                        src="https://flowbite.com/application-ui/demo/images/users/lana-byrd.png"
                        alt="Lana avatar"
                      />
                      <div class="pq2JRWtiWcwYnw3xueNl XZQ1UNoAcQMIV4si4Jk_ MNgnvsy4e42uHuBwxxJg YRrCJSr_j5nopfm4duUc rxe6apEJoEk8r75xaVNG ADSeKHR1DvUUA48Chci_ Q_jg_EPdNf9eDMn1mLI2 Nm7xMnguzOx6J5Ao7yCU RpVwy4sO7Asb86CncKJ_ pXhVRBC8yaUNllmIWxln MGZ9bvBP5fgetIhNCD_o g40_g3BQzYCOX5eZADgY y6GKdvUrd7vp_pxsFb57 _fGhMnSfYmaGrv7DvZ00">
                        <svg
                          class="bHAdXFPNFeidKlaOkKvl nXHmt07_6T25v6kTjTzf"
                          aria-hidden="true"
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          fill="currentColor"
                          viewBox="0 0 24 24"
                        >
                          <path
                            fill-rule="evenodd"
                            d="M5.024 3.783A1 1 0 0 1 6 3h12a1 1 0 0 1 .976.783L20.802 12h-4.244a1.99 1.99 0 0 0-1.824 1.205 2.978 2.978 0 0 1-5.468 0A1.991 1.991 0 0 0 7.442 12H3.198l1.826-8.217ZM3 14v5a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-5h-4.43a4.978 4.978 0 0 1-9.14 0H3Zm5-7a1 1 0 0 1 1-1h6a1 1 0 1 1 0 2H9a1 1 0 0 1-1-1Zm0 2a1 1 0 0 0 0 2h8a1 1 0 1 0 0-2H8Z"
                            clip-rule="evenodd"
                          />
                        </svg>
                      </div>
                    </div>
                    <div class="t6gkcSf0Bt4MLItXvDJ_ aa_y6SeayB9fNgBD5ROa">
                      <div class="iPpA4AtZi__uabBE5IKW c8dCx6gnV43hTOLV6ks5 _43MO1gcdi2Y0RJW1uHL PeR2JZ9BZHYIH8Ea3F36 XIIs8ZOri3wm8Wnj9N_y">
                        New message from
                        <span class="yM_AorRf2jSON3pDsdrz __9sbu0yrzdhGIkLWNXl OyABRrnTV_kvHV7dJ0uE">
                          Lana Byrd
                        </span>
                        : "Hey, what's up? All set for the presentation?"
                      </div>
                      <div class="gMXmdpOPfqG_3CKkL0VD ezMFUVl744lvw6ht0lFe OQflBVxALl1Ntbyc2J2_ s1eV9SScay8owH_251UR">
                        a few moments ago
                      </div>
                    </div>
                  </a>
                  <a
                    href="#"
                    class="YRrCJSr_j5nopfm4duUc EpUSgjHdM6oyMXUiK_8_ RZmKBZs1E1eXw8vkE6jY i8v96MUlFwGv9qJUkAx7 _7KA5gD55t2lxf9Jkj20 _fGhMnSfYmaGrv7DvZ00 OPrb_iG5WDy_7F05BDOX"
                  >
                    <div class="VQS2tmQ_zFyBOC2tkmto">
                      <img
                        class="TZANVyZaogC2vtqxZ7oo Rr_S4jo1he4sYSgq5LE_ RpVwy4sO7Asb86CncKJ_"
                        src="https://flowbite.com/application-ui/demo/images/users/jese-leos.png"
                        alt="Jese Leos avatar"
                      />
                      <div class="pq2JRWtiWcwYnw3xueNl XZQ1UNoAcQMIV4si4Jk_ MNgnvsy4e42uHuBwxxJg YRrCJSr_j5nopfm4duUc rxe6apEJoEk8r75xaVNG ADSeKHR1DvUUA48Chci_ Q_jg_EPdNf9eDMn1mLI2 Nm7xMnguzOx6J5Ao7yCU RpVwy4sO7Asb86CncKJ_ pXhVRBC8yaUNllmIWxln MGZ9bvBP5fgetIhNCD_o foDHZclRWUf2bqma2a8U _fGhMnSfYmaGrv7DvZ00">
                        <svg
                          class="iRRyDh3hk0uKgmcxvdhD MNmifiddIP3pgI1Ifwlm y6GKdvUrd7vp_pxsFb57"
                          aria-hidden="true"
                          xmlns="http://www.w3.org/2000/svg"
                          fill="currentColor"
                          viewBox="0 0 20 18"
                        >
                          <path d="M6.5 9a4.5 4.5 0 1 0 0-9 4.5 4.5 0 0 0 0 9ZM8 10H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5Zm11-3h-2V5a1 1 0 0 0-2 0v2h-2a1 1 0 1 0 0 2h2v2a1 1 0 0 0 2 0V9h2a1 1 0 1 0 0-2Z" />
                        </svg>
                      </div>
                    </div>
                    <div class="t6gkcSf0Bt4MLItXvDJ_ aa_y6SeayB9fNgBD5ROa">
                      <div class="iPpA4AtZi__uabBE5IKW c8dCx6gnV43hTOLV6ks5 _43MO1gcdi2Y0RJW1uHL PeR2JZ9BZHYIH8Ea3F36 XIIs8ZOri3wm8Wnj9N_y">
                        <span class="yM_AorRf2jSON3pDsdrz __9sbu0yrzdhGIkLWNXl OyABRrnTV_kvHV7dJ0uE">
                          Jese leos
                        </span>
                        started following you.
                      </div>
                      <div class="gMXmdpOPfqG_3CKkL0VD ezMFUVl744lvw6ht0lFe OQflBVxALl1Ntbyc2J2_ s1eV9SScay8owH_251UR">
                        10 minutes ago
                      </div>
                    </div>
                  </a>
                  <a
                    href="#"
                    class="YRrCJSr_j5nopfm4duUc EpUSgjHdM6oyMXUiK_8_ RZmKBZs1E1eXw8vkE6jY i8v96MUlFwGv9qJUkAx7 _7KA5gD55t2lxf9Jkj20 _fGhMnSfYmaGrv7DvZ00 OPrb_iG5WDy_7F05BDOX"
                  >
                    <div class="VQS2tmQ_zFyBOC2tkmto">
                      <img
                        class="TZANVyZaogC2vtqxZ7oo Rr_S4jo1he4sYSgq5LE_ RpVwy4sO7Asb86CncKJ_"
                        src="https://flowbite.com/application-ui/demo/images/users/bonnie-green.png"
                        alt="Bonnie avatar"
                      />
                      <div class="pq2JRWtiWcwYnw3xueNl XZQ1UNoAcQMIV4si4Jk_ MNgnvsy4e42uHuBwxxJg YRrCJSr_j5nopfm4duUc rxe6apEJoEk8r75xaVNG ADSeKHR1DvUUA48Chci_ Q_jg_EPdNf9eDMn1mLI2 Nm7xMnguzOx6J5Ao7yCU RpVwy4sO7Asb86CncKJ_ pXhVRBC8yaUNllmIWxln MGZ9bvBP5fgetIhNCD_o zor3C6otq8jG5rQgLVwO _fGhMnSfYmaGrv7DvZ00">
                        <svg
                          class="bHAdXFPNFeidKlaOkKvl nXHmt07_6T25v6kTjTzf y6GKdvUrd7vp_pxsFb57"
                          aria-hidden="true"
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          fill="currentColor"
                          viewBox="0 0 24 24"
                        >
                          <path
                            fill-rule="evenodd"
                            d="M20.337 3.664c.213.212.354.486.404.782.294 1.711.657 5.195-.906 6.76-1.77 1.768-8.485 5.517-10.611 6.683a.987.987 0 0 1-1.176-.173l-.882-.88-.877-.884a.988.988 0 0 1-.173-1.177c1.165-2.126 4.913-8.841 6.682-10.611 1.562-1.563 5.046-1.198 6.757-.904.296.05.57.191.782.404ZM5.407 7.576l4-.341-2.69 4.48-2.857-.334a.996.996 0 0 1-.565-1.694l2.112-2.111Zm11.357 7.02-.34 4-2.111 2.113a.996.996 0 0 1-1.69-.565l-.422-2.807 4.563-2.74Zm.84-6.21a1.99 1.99 0 1 1-3.98 0 1.99 1.99 0 0 1 3.98 0Z"
                            clip-rule="evenodd"
                          />
                        </svg>
                      </div>
                    </div>
                    <div class="t6gkcSf0Bt4MLItXvDJ_ aa_y6SeayB9fNgBD5ROa">
                      <div class="iPpA4AtZi__uabBE5IKW c8dCx6gnV43hTOLV6ks5 _43MO1gcdi2Y0RJW1uHL PeR2JZ9BZHYIH8Ea3F36 XIIs8ZOri3wm8Wnj9N_y">
                        <span class="yM_AorRf2jSON3pDsdrz __9sbu0yrzdhGIkLWNXl OyABRrnTV_kvHV7dJ0uE">
                          Bonnie Green
                        </span>
                        is requesting to upgrade the Flowbite Plan.
                      </div>
                      <div class="TR_P65x9ie7j6uxFo_Cs YRrCJSr_j5nopfm4duUc Q_jg_EPdNf9eDMn1mLI2 EU43bH15DCmsqkGyVBGj">
                        <button
                          type="button"
                          class="YRrCJSr_j5nopfm4duUc t6gkcSf0Bt4MLItXvDJ_ Q_jg_EPdNf9eDMn1mLI2 Nm7xMnguzOx6J5Ao7yCU mveJTCIb2WII7J4sY22F g40_g3BQzYCOX5eZADgY _Cj_M6jt2eLjDgkBBNgI b9aD6g2qw84oyZNsMO8j gMXmdpOPfqG_3CKkL0VD ezMFUVl744lvw6ht0lFe y6GKdvUrd7vp_pxsFb57 YoPCmQ0E_V5W0GGmSIdm BkIbg_JwkgiyRW804Hhu _dylIDxYTN3qgvD4U597 KmgKPWh7pHX4ztLneO0T d8_fVOcgDmbt7UdpfeLK WuKugQzwTT7o1wwBck2R _ZsTMX_gz275093orLWM icxWjIgUd9_dzYucx1nx"
                        >
                          Accept
                        </button>
                        <button
                          type="button"
                          class="YRrCJSr_j5nopfm4duUc t6gkcSf0Bt4MLItXvDJ_ Q_jg_EPdNf9eDMn1mLI2 Nm7xMnguzOx6J5Ao7yCU mveJTCIb2WII7J4sY22F pXhVRBC8yaUNllmIWxln qUWbS_LTZujDB4XCd11V _Ybd3WwuTVljUT4vEaM3 _Cj_M6jt2eLjDgkBBNgI b9aD6g2qw84oyZNsMO8j gMXmdpOPfqG_3CKkL0VD ezMFUVl744lvw6ht0lFe __9sbu0yrzdhGIkLWNXl _7KA5gD55t2lxf9Jkj20 YXx9oZ15oLXSCG32YPBT xKUZEM163cLLvNnDh2ZN BkIbg_JwkgiyRW804Hhu _dylIDxYTN3qgvD4U597 XGQIxPVjm_m7D0aLHB7Y Mmx5lX7HVdrWCgh3EpTP _1jTZ8KXRZul60S6czNi XIIs8ZOri3wm8Wnj9N_y OPrb_iG5WDy_7F05BDOX dMTOiA3mf3FTjlHu6DqW yChACvAr1v8czJ2VO22j icxWjIgUd9_dzYucx1nx"
                        >
                          Decline
                        </button>
                      </div>
                      <div class="gMXmdpOPfqG_3CKkL0VD ezMFUVl744lvw6ht0lFe OQflBVxALl1Ntbyc2J2_ s1eV9SScay8owH_251UR">
                        32 minutes ago
                      </div>
                    </div>
                  </a>
                  <a
                    href="#"
                    class="YRrCJSr_j5nopfm4duUc EpUSgjHdM6oyMXUiK_8_ RZmKBZs1E1eXw8vkE6jY i8v96MUlFwGv9qJUkAx7 _7KA5gD55t2lxf9Jkj20 _fGhMnSfYmaGrv7DvZ00 OPrb_iG5WDy_7F05BDOX"
                  >
                    <div class="VQS2tmQ_zFyBOC2tkmto">
                      <img
                        class="TZANVyZaogC2vtqxZ7oo Rr_S4jo1he4sYSgq5LE_ RpVwy4sO7Asb86CncKJ_"
                        src="https://flowbite.com/application-ui/demo/images/users/joseph-mcfall.png"
                        alt="Joseph McFall avatar"
                      />
                      <div class="pq2JRWtiWcwYnw3xueNl XZQ1UNoAcQMIV4si4Jk_ MNgnvsy4e42uHuBwxxJg YRrCJSr_j5nopfm4duUc rxe6apEJoEk8r75xaVNG ADSeKHR1DvUUA48Chci_ Q_jg_EPdNf9eDMn1mLI2 Nm7xMnguzOx6J5Ao7yCU RpVwy4sO7Asb86CncKJ_ pXhVRBC8yaUNllmIWxln MGZ9bvBP5fgetIhNCD_o SdPDrbResNmgnA0L4Iki _fGhMnSfYmaGrv7DvZ00">
                        <svg
                          class="iRRyDh3hk0uKgmcxvdhD MNmifiddIP3pgI1Ifwlm y6GKdvUrd7vp_pxsFb57"
                          aria-hidden="true"
                          xmlns="http://www.w3.org/2000/svg"
                          fill="currentColor"
                          viewBox="0 0 20 18"
                        >
                          <path d="M17.947 2.053a5.209 5.209 0 0 0-3.793-1.53A6.414 6.414 0 0 0 10 2.311 6.482 6.482 0 0 0 5.824.5a5.2 5.2 0 0 0-3.8 1.521c-1.915 1.916-2.315 5.392.625 8.333l7 7a.5.5 0 0 0 .708 0l7-7a6.6 6.6 0 0 0 2.123-4.508 5.179 5.179 0 0 0-1.533-3.793Z" />
                        </svg>
                      </div>
                    </div>
                    <div class="t6gkcSf0Bt4MLItXvDJ_ aa_y6SeayB9fNgBD5ROa">
                      <div class="iPpA4AtZi__uabBE5IKW c8dCx6gnV43hTOLV6ks5 _43MO1gcdi2Y0RJW1uHL PeR2JZ9BZHYIH8Ea3F36 XIIs8ZOri3wm8Wnj9N_y">
                        <span class="yM_AorRf2jSON3pDsdrz __9sbu0yrzdhGIkLWNXl OyABRrnTV_kvHV7dJ0uE">
                          Joseph Mcfall
                        </span>
                        and
                        <span class="ezMFUVl744lvw6ht0lFe __9sbu0yrzdhGIkLWNXl OyABRrnTV_kvHV7dJ0uE">
                          141 others
                        </span>
                        love your story. See it and view more stories.
                      </div>
                      <div class="gMXmdpOPfqG_3CKkL0VD ezMFUVl744lvw6ht0lFe OQflBVxALl1Ntbyc2J2_ s1eV9SScay8owH_251UR">
                        44 minutes ago
                      </div>
                    </div>
                  </a>
                  <a
                    href="#"
                    class="YRrCJSr_j5nopfm4duUc EpUSgjHdM6oyMXUiK_8_ RZmKBZs1E1eXw8vkE6jY i8v96MUlFwGv9qJUkAx7 _7KA5gD55t2lxf9Jkj20 _fGhMnSfYmaGrv7DvZ00 OPrb_iG5WDy_7F05BDOX"
                  >
                    <div class="VQS2tmQ_zFyBOC2tkmto">
                      <img
                        class="TZANVyZaogC2vtqxZ7oo Rr_S4jo1he4sYSgq5LE_ RpVwy4sO7Asb86CncKJ_"
                        src="https://flowbite.com/application-ui/demo/images/users/roberta-casas.png"
                        alt="Roberta Casas image"
                      />
                      <div class="pq2JRWtiWcwYnw3xueNl XZQ1UNoAcQMIV4si4Jk_ MNgnvsy4e42uHuBwxxJg YRrCJSr_j5nopfm4duUc rxe6apEJoEk8r75xaVNG ADSeKHR1DvUUA48Chci_ Q_jg_EPdNf9eDMn1mLI2 Nm7xMnguzOx6J5Ao7yCU RpVwy4sO7Asb86CncKJ_ pXhVRBC8yaUNllmIWxln MGZ9bvBP5fgetIhNCD_o _8jNXfz935bbH_fAUIpN _fGhMnSfYmaGrv7DvZ00">
                        <svg
                          class="iRRyDh3hk0uKgmcxvdhD MNmifiddIP3pgI1Ifwlm y6GKdvUrd7vp_pxsFb57"
                          aria-hidden="true"
                          xmlns="http://www.w3.org/2000/svg"
                          fill="currentColor"
                          viewBox="0 0 20 18"
                        >
                          <path d="M18 0H2a2 2 0 0 0-2 2v9a2 2 0 0 0 2 2h2v4a1 1 0 0 0 1.707.707L10.414 13H18a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2Zm-5 4h2a1 1 0 1 1 0 2h-2a1 1 0 1 1 0-2ZM5 4h5a1 1 0 1 1 0 2H5a1 1 0 0 1 0-2Zm2 5H5a1 1 0 0 1 0-2h2a1 1 0 0 1 0 2Zm9 0h-6a1 1 0 0 1 0-2h6a1 1 0 1 1 0 2Z" />
                        </svg>
                      </div>
                    </div>
                    <div class="t6gkcSf0Bt4MLItXvDJ_ aa_y6SeayB9fNgBD5ROa">
                      <div class="iPpA4AtZi__uabBE5IKW c8dCx6gnV43hTOLV6ks5 _43MO1gcdi2Y0RJW1uHL PeR2JZ9BZHYIH8Ea3F36 XIIs8ZOri3wm8Wnj9N_y">
                        <span class="yM_AorRf2jSON3pDsdrz __9sbu0yrzdhGIkLWNXl OyABRrnTV_kvHV7dJ0uE">
                          Leslie Livingston
                        </span>
                        mentioned you in a comment:
                        <span class="ezMFUVl744lvw6ht0lFe OQflBVxALl1Ntbyc2J2_ fZf6W_ZtzEh6EEqmWMA9">
                          @bonnie.green
                        </span>
                        what do you say?
                      </div>
                      <div class="gMXmdpOPfqG_3CKkL0VD ezMFUVl744lvw6ht0lFe OQflBVxALl1Ntbyc2J2_ s1eV9SScay8owH_251UR">
                        1 hour ago
                      </div>
                    </div>
                  </a>
                  <a
                    href="#"
                    class="YRrCJSr_j5nopfm4duUc RZmKBZs1E1eXw8vkE6jY i8v96MUlFwGv9qJUkAx7 _7KA5gD55t2lxf9Jkj20 RzANcaqunVvlLrO6_tal"
                  >
                    <div class="VQS2tmQ_zFyBOC2tkmto">
                      <img
                        class="TZANVyZaogC2vtqxZ7oo Rr_S4jo1he4sYSgq5LE_ RpVwy4sO7Asb86CncKJ_"
                        src="https://flowbite.com/application-ui/demo/images/users/robert-brown.png"
                        alt="Robert image"
                      />
                      <div class="pq2JRWtiWcwYnw3xueNl XZQ1UNoAcQMIV4si4Jk_ MNgnvsy4e42uHuBwxxJg YRrCJSr_j5nopfm4duUc rxe6apEJoEk8r75xaVNG ADSeKHR1DvUUA48Chci_ Q_jg_EPdNf9eDMn1mLI2 Nm7xMnguzOx6J5Ao7yCU RpVwy4sO7Asb86CncKJ_ pXhVRBC8yaUNllmIWxln MGZ9bvBP5fgetIhNCD_o _I92_RswYrnpS0B5dKZO _fGhMnSfYmaGrv7DvZ00">
                        <svg
                          class="iRRyDh3hk0uKgmcxvdhD MNmifiddIP3pgI1Ifwlm y6GKdvUrd7vp_pxsFb57"
                          aria-hidden="true"
                          xmlns="http://www.w3.org/2000/svg"
                          fill="currentColor"
                          viewBox="0 0 20 14"
                        >
                          <path d="M11 0H2a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h9a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2Zm8.585 1.189a.994.994 0 0 0-.9-.138l-2.965.983a1 1 0 0 0-.685.949v8a1 1 0 0 0 .675.946l2.965 1.02a1.013 1.013 0 0 0 1.032-.242A1 1 0 0 0 20 12V2a1 1 0 0 0-.415-.811Z" />
                        </svg>
                      </div>
                    </div>
                    <div class="t6gkcSf0Bt4MLItXvDJ_ aa_y6SeayB9fNgBD5ROa">
                      <div class="iPpA4AtZi__uabBE5IKW c8dCx6gnV43hTOLV6ks5 _43MO1gcdi2Y0RJW1uHL PeR2JZ9BZHYIH8Ea3F36 XIIs8ZOri3wm8Wnj9N_y">
                        <span class="yM_AorRf2jSON3pDsdrz __9sbu0yrzdhGIkLWNXl OyABRrnTV_kvHV7dJ0uE">
                          Robert Brown
                        </span>
                        posted a new video: Glassmorphism - learn how to implement the new design
                        trend.
                      </div>
                      <div class="gMXmdpOPfqG_3CKkL0VD ezMFUVl744lvw6ht0lFe OQflBVxALl1Ntbyc2J2_ s1eV9SScay8owH_251UR">
                        3 hours ago
                      </div>
                    </div>
                  </a>
                </div> */}
                {/* <a
                  href="#"
                  class="_Vb9igHms0hI1PQcvp_S _9dH7mrOkzM4RTmidHTs b9aD6g2qw84oyZNsMO8j ijrOHNoSVGATsWYKl4Id d3C8uAdJKNl1jzfE9ynq ezMFUVl744lvw6ht0lFe __9sbu0yrzdhGIkLWNXl lBgPGkku8NiP5ReH09_2 jqg6J89cvxmDiFpnV56r OyABRrnTV_kvHV7dJ0uE RzANcaqunVvlLrO6_tal Eu6DAInc_AYT0KJ7LY1L"
                >
                  <div class="_k0lTW0vvzboctTxDi2R Q_jg_EPdNf9eDMn1mLI2">
                    <svg
                      class="IRKzgyPj4qWOh2vq2xBg rxe6apEJoEk8r75xaVNG ADSeKHR1DvUUA48Chci_"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      fill="currentColor"
                      viewBox="0 0 24 24"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M4.998 7.78C6.729 6.345 9.198 5 12 5c2.802 0 5.27 1.345 7.002 2.78a12.713 12.713 0 0 1 2.096 2.183c.253.344.465.682.618.997.14.286.284.658.284 1.04s-.145.754-.284 1.04a6.6 6.6 0 0 1-.618.997 12.712 12.712 0 0 1-2.096 2.183C17.271 17.655 14.802 19 12 19c-2.802 0-5.27-1.345-7.002-2.78a12.712 12.712 0 0 1-2.096-2.183 6.6 6.6 0 0 1-.618-.997C2.144 12.754 2 12.382 2 12s.145-.754.284-1.04c.153-.315.365-.653.618-.997A12.714 12.714 0 0 1 4.998 7.78ZM12 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"
                        clip-rule="evenodd"
                      />
                    </svg>
                    View all
                  </div>
                </a> */}
              </div>
        <script
          define:vars={{
            projectId,
            currentRole,
            currentUser,
            supabaseUrl,
          }}
          type="module"
        >
          // Punchlist functionality
          let punchlistItems = [];
          let currentProjectId = projectId;
          let currentUserRole = currentRole;
          let currentUserId = currentUser?.id;

          // console.log("🔔 [PUNCHLIST] Initial userRole:", currentUserRole);

          // Make user role available globally for reply forms
          window.currentUserRole = currentUserRole;
          window.PROJECT_USER_ROLE = currentUserRole;

          async function loadPunchlistItems(projectId) {
            try {
              const response = await fetch(`/api/get-project-punchlist?projectId=${projectId}`, {
                credentials: "include",
              });
              const data = await response.json();

              console.log("🔍 [TabPunchlist] data:", data);
              if (data.success) {
                punchlistItems = data.punchlist;
                renderPunchlistItems();
                updateIncompletePunchlistItemsCount(); // Update count after loading punchlist items
              } else {
                console.error("Failed to load punchlist items:", data.error);

                // Show specific error message if table doesn't exist
                if (data.migration_needed || data.error?.includes("does not exist")) {
                  showPunchlistError(
                    `Punchlist feature setup required<br><br>
                    <strong>Admin Action Needed:</strong><br>
                    Please run the SQL script:<br>
                    <code>sql-queriers/create-punchlist-table.sql</code><br>
                    in your Supabase SQL Editor to enable punchlist functionality.`
                  );
                } else {
                  showPunchlistError(
                    "Failed to load punchlist items: " + (data.details || data.error)
                  );
                }
              }
            } catch (error) {
              console.error("Error loading punchlist items:", error);
              showPunchlistError("Failed to load punchlist items");
            }
          }

          // Update incomplete punchlist items count in the punchlist tab
          function updateIncompletePunchlistItemsCount() {
            const incompleteCount = punchlistItems.filter((item) => !item.mark_completed).length;
            const countElement = document.querySelector(".incomplete-punchlist-items-count");
            const tabButton = document.getElementById("status-punchlist");

            if (tabButton) {
              // Create or update count bubble
              let countBubble = tabButton.querySelector(".punchlist-count-bubble");

              if (incompleteCount > 0) {
                if (!countBubble) {
                  // Create count bubble if it doesn't exist
                  countBubble = document.createElement("span");
                  countBubble.className =
                    "punchlist-count-bubble absolute right-0 top-0 flex h-5 w-5 items-center justify-center rounded-full border border-primary-500 bg-white text-xs font-medium text-primary-500 dark:border-primary-400 dark:bg-background-dark dark:text-primary-400";
                  tabButton.style.position = "relative";
                  tabButton.appendChild(countBubble);
                }
                countBubble.textContent = incompleteCount.toString();
                countBubble.style.display = "flex";
                tabButton.setAttribute("data-count", incompleteCount.toString());
              } else {
                if (countBubble) {
                  countBubble.style.display = "none";
                }
                tabButton.setAttribute("data-count", "0");
              }

              // Also update the old count element if it exists
              if (countElement) {
                if (incompleteCount > 0) {
                  countElement.textContent = incompleteCount.toString();
                  countElement.classList.remove("hidden");
                } else {
                  countElement.classList.add("hidden");
                }
              }

              // console.log("🔍 [PUNCHLIST] Incomplete punchlist items count updated:", incompleteCount);
            }
          }

          async function renderPunchlistItems() {
            const punchlistItemsList = document.getElementById("punchlist-items-list");
            if (!punchlistItemsList) return;

            // Separate top-level items and replies
            const topLevelItems = punchlistItems.filter((d) => !d.parent_id);
            let html = "";

            // Process items asynchronously
            for (const item of topLevelItems) {
              // Check if user can see this item

              html += await renderPunchlistItem(item, 0);

              // Find and render replies for this item
            }

            punchlistItemsList.innerHTML = html;

            // Load toggles for all items that can be toggled
            punchlistItems.forEach((item) => {
              const canToggleCompleted =
                currentUserRole === "Admin" ||
                currentUserRole === "Staff" ||
                item.author_id === currentUserId;

              if (canToggleCompleted) {
                loadToggleForPunchlistItem(item.id, item.mark_completed, true);
              }
            });
          }

          async function renderPunchlistItem(item, depth = 0) {
            try {
              // Compute all values in the parent component
              const isInternal = item.internal;
              const isAuthor = item.author_id === currentUserId;
              const canToggleCompleted =
                currentUserRole === "Admin" || currentUserRole === "Staff" || isAuthor;

              const marginLeft = depth > 0 ? `ml-${Math.min(depth * 8, 32)}` : "";
              const borderLeft =
                depth > 0 ? "border-l-2 border-gray-200 dark:border-gray-600 pl-4" : "";

              // Ensure item data is properly encoded to handle Unicode characters
              const itemData = encodeURIComponent(JSON.stringify(item));

              const headers = new Headers({
                "x-comment-data": itemData,
                "x-current-user-role": currentUserRole,
                "x-current-user-id": currentUserId,
                "x-supabase-url": supabaseUrl,
                "x-comment-depth": depth.toString(),
                "x-is-internal": isInternal.toString(),
                "x-is-author": isAuthor.toString(),
                "x-can-toggle-completed": canToggleCompleted.toString(),
                "x-margin-left": marginLeft,
                "x-border-left": borderLeft,
              });

              const response = await fetch("/partials/comment", {
                headers: headers,
              });

              if (response.ok) {
                return await response.text();
              } else {
                console.error("Failed to load punchlist item partial:", response.status);
                return `<div class="text-red-500">Failed to load punchlist item</div>`;
              }
            } catch (error) {
              console.error("Error loading punchlist item partial:", error);
              return `<div class="text-red-500">Error loading punchlist item</div>`;
            }
          }

          // Load toggle using SlideToggle partial
          async function loadToggleForPunchlistItem(itemId, isCompleted, canToggle) {
            if (!canToggle) return;

            try {
              // Handle null/undefined isCompleted values
              const completed = isCompleted === true || isCompleted === "true" || isCompleted === 1;

              const headers = new Headers({
                "x-toggle-id": `punchlist-completed-toggle-${itemId}`,
                // "x-toggle-label": completed ? "Completed" : "Incomplete",
                "x-toggle-label": "",
                // "x-toggle-icon": completed ? "bx-check-circle" : "",
                "x-toggle-color": "green",
                "x-toggle-checked": completed.toString(),
                "x-toggle-class": "punchlist-completed-toggle",
                "x-toggle-data-discussion-id": itemId.toString(),
              });

              const response = await fetch("/partials/slide-toggle", {
                headers: headers,
              });

              if (response.ok) {
                const toggleHTML = await response.text();
                const container = document.getElementById(`toggle-container-${itemId}`);
                if (container) {
                  container.innerHTML = toggleHTML;
                }
              }
            } catch (error) {
              console.error("❌ [PUNCHLIST] Error loading toggle:", error);
            }
          }

          function showPunchlistError(message) {
            const punchlistItemsList = document.getElementById("punchlist-items-list");
            if (punchlistItemsList) {
              punchlistItemsList.innerHTML = `
        <div class="text-center py-8 text-red-500">
          <i class="bx bx-error-circle mx-auto mb-4 text-4xl"></i>
          <p>${message}</p>
        </div>
      `;
            }
          }

          // Initialize punchlist functionality when punchlist tab is shown
          function initializePunchlist() {
            // Set user role from server-side data (already set via define:vars)
            currentUserRole = window.PROJECT_USER_ROLE || "Client";
            console.log("🔔 [PUNCHLIST] User role set to:", currentUserRole);

            // Make user role available globally for reply forms
            window.currentUserRole = currentUserRole;

            const punchlistContainer = document.getElementById("punchlist-container");
            if (punchlistContainer) {
              currentProjectId = punchlistContainer.dataset.projectId || "";
              if (currentProjectId) {
                loadPunchlistItems(currentProjectId);
              }
            }

            // Add event delegation for completed toggles
            document.addEventListener("change", (e) => {
              const target = e.target;
              if (target.classList.contains("punchlist-completed-toggle")) {
                const punchlistId = parseInt(target.getAttribute("data-discussion-id") || "0");
                const isCompleted = target.checked;
                if (punchlistId) {
                  togglePunchlistCompleted(punchlistId, isCompleted);
                }
              }
            });

            console.log("🔔 [PUNCHLIST] Event listeners attached");
          }

          // Toggle punchlist item completed status
          async function togglePunchlistCompleted(punchlistId, isCompleted) {
            try {
              console.log("🔔 [PUNCHLIST] Toggling completed status:", {
                punchlistId,
                isCompleted,
              });

              const response = await fetch("/api/update-punchlist-completed", {
                method: "POST",
                headers: {
                  "Content-Type": "application/json",
                },
                credentials: "include",
                body: JSON.stringify({
                  punchlistId: punchlistId,
                  mark_completed: isCompleted,
                }),
              });

              const data = await response.json();

              if (data.success) {
                console.log("✅ [PUNCHLIST] Punchlist item completed status updated successfully");
                // Update the local punchlist data
                const punchlistItem = punchlistItems.find((d) => d.id === punchlistId);
                if (punchlistItem) {
                  punchlistItem.mark_completed = isCompleted;
                }

                // Update the incomplete punchlist items count
                updateIncompletePunchlistItemsCount();
                // Show success notification
                if (window.showModal) {
                  window.showModal(
                    "success",
                    "Punchlist status updated",
                    `Marked as ${isCompleted ? "completed" : "incomplete"}`,
                    1500
                  );
                }

                // Reload the toggle with the updated state
                loadToggleForPunchlistItem(punchlistId, isCompleted, true);
              } else {
                console.error("❌ [PUNCHLIST] Failed to update punchlist status:", data.error);
                // Revert the toggle to previous state
                loadToggleForPunchlistItem(punchlistId, !isCompleted, true);
                // Show error notification
                if (window.showModal) {
                  window.showModal("error", "Update Failed", "Failed to update punchlist status");
                }
              }
            } catch (error) {
              console.error("❌ [PUNCHLIST] Error updating punchlist status:", error);
              // Revert the toggle to previous state
              loadToggleForPunchlistItem(punchlistId, !isCompleted, true);
              // Show error notification
              if (window.showModal) {
                window.showModal("error", "Update Failed", "Error updating punchlist status");
              }
            }
          }

          // Initialize punchlist functionality when component loads
          document.addEventListener("DOMContentLoaded", function () {
            console.log("🔔 [PUNCHLIST] Punchlist component loaded, initializing...");
            setTimeout(initializePunchlist, 100);
          });

          // Make initializePunchlist globally available for tab switching
          window.initializePunchlist = initializePunchlist;
        </script>
      </div>
    </div>
  </div>
</div>

<div class="YRrCJSr_j5nopfm4duUc Q_jg_EPdNf9eDMn1mLI2 sJNGKHxFYdN5Nzml5J2j _9dH7mrOkzM4RTmidHTs RZmKBZs1E1eXw8vkE6jY b9aD6g2qw84oyZNsMO8j ijrOHNoSVGATsWYKl4Id ezMFUVl744lvw6ht0lFe __9sbu0yrzdhGIkLWNXl jqg6J89cvxmDiFpnV56r OyABRrnTV_kvHV7dJ0uE">
  <h3>Notifications</h3>
  <button
    type="button"
    data-tooltip-target="tooltip-options-notification"
    class="YRrCJSr_j5nopfm4duUc SA5DoMHfwOFtY4h_qzuM Q_jg_EPdNf9eDMn1mLI2 Nm7xMnguzOx6J5Ao7yCU mveJTCIb2WII7J4sY22F Z4DH5a4vmjReSFRBpPgz PeR2JZ9BZHYIH8Ea3F36 lBgPGkku8NiP5ReH09_2 ZnBoTVi7VOJdCLSSU62n XIIs8ZOri3wm8Wnj9N_y RzANcaqunVvlLrO6_tal dMTOiA3mf3FTjlHu6DqW"
  >
    <BoxIcon name="checklist" variant="outline" size="md" />

    <span class="_DVAfiyo21kM68EUVzEQ">Options</span>
  </button>
  <div
    id="tooltip-options-notification"
    role="tooltip"
    class="H78G_4yayxs5C3xdFbnK ZBSHeVK3dmgzHTRX3hLO pq2JRWtiWcwYnw3xueNl QhmQ_v3mmDFIP9VaVOfb VPGGthdu3cy_ZP7AL7dt mveJTCIb2WII7J4sY22F foDHZclRWUf2bqma2a8U _Cj_M6jt2eLjDgkBBNgI b9aD6g2qw84oyZNsMO8j c8dCx6gnV43hTOLV6ks5 ezMFUVl744lvw6ht0lFe y6GKdvUrd7vp_pxsFb57 Db4Wzva4DMepJJiQLY7M fzhbbDQ686T8arwvi_bJ mc9bwhBTHL8mVzJvl6gz rqOAGYeDo9iWuroePkaf jqg6J89cvxmDiFpnV56r"
  >
    Options
    <div class="tkX8MMO2MiTlgtbd_jG3" data-popper-arrow="" />
  </div>
</div>
{/* <div class="ahOqFrhzLjivRe8a1kX_ DQNz_SZt35NaATwiWXi8 sO_tinfrMVt7QYxF_dd8 _1jTZ8KXRZul60S6czNi">
  <a
    href="#"
    class="YRrCJSr_j5nopfm4duUc EpUSgjHdM6oyMXUiK_8_ RZmKBZs1E1eXw8vkE6jY i8v96MUlFwGv9qJUkAx7 _7KA5gD55t2lxf9Jkj20 _fGhMnSfYmaGrv7DvZ00 OPrb_iG5WDy_7F05BDOX"
  >
    <div class="VQS2tmQ_zFyBOC2tkmto">
      <img
        class="TZANVyZaogC2vtqxZ7oo Rr_S4jo1he4sYSgq5LE_ RpVwy4sO7Asb86CncKJ_"
        src="https://flowbite.com/application-ui/demo/images/users/lana-byrd.png"
        alt="Lana avatar"
      />
      <div class="pq2JRWtiWcwYnw3xueNl XZQ1UNoAcQMIV4si4Jk_ MNgnvsy4e42uHuBwxxJg YRrCJSr_j5nopfm4duUc rxe6apEJoEk8r75xaVNG ADSeKHR1DvUUA48Chci_ Q_jg_EPdNf9eDMn1mLI2 Nm7xMnguzOx6J5Ao7yCU RpVwy4sO7Asb86CncKJ_ pXhVRBC8yaUNllmIWxln MGZ9bvBP5fgetIhNCD_o g40_g3BQzYCOX5eZADgY y6GKdvUrd7vp_pxsFb57 _fGhMnSfYmaGrv7DvZ00">
        <svg
          class="bHAdXFPNFeidKlaOkKvl nXHmt07_6T25v6kTjTzf"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="currentColor"
          viewBox="0 0 24 24"
        >
          <path
            fill-rule="evenodd"
            d="M5.024 3.783A1 1 0 0 1 6 3h12a1 1 0 0 1 .976.783L20.802 12h-4.244a1.99 1.99 0 0 0-1.824 1.205 2.978 2.978 0 0 1-5.468 0A1.991 1.991 0 0 0 7.442 12H3.198l1.826-8.217ZM3 14v5a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-5h-4.43a4.978 4.978 0 0 1-9.14 0H3Zm5-7a1 1 0 0 1 1-1h6a1 1 0 1 1 0 2H9a1 1 0 0 1-1-1Zm0 2a1 1 0 0 0 0 2h8a1 1 0 1 0 0-2H8Z"
            clip-rule="evenodd"
          />
        </svg>
      </div>
    </div>
    <div class="t6gkcSf0Bt4MLItXvDJ_ aa_y6SeayB9fNgBD5ROa">
      <div class="iPpA4AtZi__uabBE5IKW c8dCx6gnV43hTOLV6ks5 _43MO1gcdi2Y0RJW1uHL PeR2JZ9BZHYIH8Ea3F36 XIIs8ZOri3wm8Wnj9N_y">
        New message from
        <span class="yM_AorRf2jSON3pDsdrz __9sbu0yrzdhGIkLWNXl OyABRrnTV_kvHV7dJ0uE">
          Lana Byrd
        </span>
        : "Hey, what's up? All set for the presentation?"
      </div>
      <div class="gMXmdpOPfqG_3CKkL0VD ezMFUVl744lvw6ht0lFe OQflBVxALl1Ntbyc2J2_ s1eV9SScay8owH_251UR">
        a few moments ago
      </div>
    </div>
  </a>
  <a
    href="#"
    class="YRrCJSr_j5nopfm4duUc EpUSgjHdM6oyMXUiK_8_ RZmKBZs1E1eXw8vkE6jY i8v96MUlFwGv9qJUkAx7 _7KA5gD55t2lxf9Jkj20 _fGhMnSfYmaGrv7DvZ00 OPrb_iG5WDy_7F05BDOX"
  >
    <div class="VQS2tmQ_zFyBOC2tkmto">
      <img
        class="TZANVyZaogC2vtqxZ7oo Rr_S4jo1he4sYSgq5LE_ RpVwy4sO7Asb86CncKJ_"
        src="https://flowbite.com/application-ui/demo/images/users/jese-leos.png"
        alt="Jese Leos avatar"
      />
      <div class="pq2JRWtiWcwYnw3xueNl XZQ1UNoAcQMIV4si4Jk_ MNgnvsy4e42uHuBwxxJg YRrCJSr_j5nopfm4duUc rxe6apEJoEk8r75xaVNG ADSeKHR1DvUUA48Chci_ Q_jg_EPdNf9eDMn1mLI2 Nm7xMnguzOx6J5Ao7yCU RpVwy4sO7Asb86CncKJ_ pXhVRBC8yaUNllmIWxln MGZ9bvBP5fgetIhNCD_o foDHZclRWUf2bqma2a8U _fGhMnSfYmaGrv7DvZ00">
        <svg
          class="iRRyDh3hk0uKgmcxvdhD MNmifiddIP3pgI1Ifwlm y6GKdvUrd7vp_pxsFb57"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 18"
        >
          <path d="M6.5 9a4.5 4.5 0 1 0 0-9 4.5 4.5 0 0 0 0 9ZM8 10H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5Zm11-3h-2V5a1 1 0 0 0-2 0v2h-2a1 1 0 1 0 0 2h2v2a1 1 0 0 0 2 0V9h2a1 1 0 1 0 0-2Z" />
        </svg>
      </div>
    </div>
    <div class="t6gkcSf0Bt4MLItXvDJ_ aa_y6SeayB9fNgBD5ROa">
      <div class="iPpA4AtZi__uabBE5IKW c8dCx6gnV43hTOLV6ks5 _43MO1gcdi2Y0RJW1uHL PeR2JZ9BZHYIH8Ea3F36 XIIs8ZOri3wm8Wnj9N_y">
        <span class="yM_AorRf2jSON3pDsdrz __9sbu0yrzdhGIkLWNXl OyABRrnTV_kvHV7dJ0uE">
          Jese leos
        </span>
        started following you.
      </div>
      <div class="gMXmdpOPfqG_3CKkL0VD ezMFUVl744lvw6ht0lFe OQflBVxALl1Ntbyc2J2_ s1eV9SScay8owH_251UR">
        10 minutes ago
      </div>
    </div>
  </a>
  <a
    href="#"
    class="YRrCJSr_j5nopfm4duUc EpUSgjHdM6oyMXUiK_8_ RZmKBZs1E1eXw8vkE6jY i8v96MUlFwGv9qJUkAx7 _7KA5gD55t2lxf9Jkj20 _fGhMnSfYmaGrv7DvZ00 OPrb_iG5WDy_7F05BDOX"
  >
    <div class="VQS2tmQ_zFyBOC2tkmto">
      <img
        class="TZANVyZaogC2vtqxZ7oo Rr_S4jo1he4sYSgq5LE_ RpVwy4sO7Asb86CncKJ_"
        src="https://flowbite.com/application-ui/demo/images/users/bonnie-green.png"
        alt="Bonnie avatar"
      />
      <div class="pq2JRWtiWcwYnw3xueNl XZQ1UNoAcQMIV4si4Jk_ MNgnvsy4e42uHuBwxxJg YRrCJSr_j5nopfm4duUc rxe6apEJoEk8r75xaVNG ADSeKHR1DvUUA48Chci_ Q_jg_EPdNf9eDMn1mLI2 Nm7xMnguzOx6J5Ao7yCU RpVwy4sO7Asb86CncKJ_ pXhVRBC8yaUNllmIWxln MGZ9bvBP5fgetIhNCD_o zor3C6otq8jG5rQgLVwO _fGhMnSfYmaGrv7DvZ00">
        <svg
          class="bHAdXFPNFeidKlaOkKvl nXHmt07_6T25v6kTjTzf y6GKdvUrd7vp_pxsFb57"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="currentColor"
          viewBox="0 0 24 24"
        >
          <path
            fill-rule="evenodd"
            d="M20.337 3.664c.213.212.354.486.404.782.294 1.711.657 5.195-.906 6.76-1.77 1.768-8.485 5.517-10.611 6.683a.987.987 0 0 1-1.176-.173l-.882-.88-.877-.884a.988.988 0 0 1-.173-1.177c1.165-2.126 4.913-8.841 6.682-10.611 1.562-1.563 5.046-1.198 6.757-.904.296.05.57.191.782.404ZM5.407 7.576l4-.341-2.69 4.48-2.857-.334a.996.996 0 0 1-.565-1.694l2.112-2.111Zm11.357 7.02-.34 4-2.111 2.113a.996.996 0 0 1-1.69-.565l-.422-2.807 4.563-2.74Zm.84-6.21a1.99 1.99 0 1 1-3.98 0 1.99 1.99 0 0 1 3.98 0Z"
            clip-rule="evenodd"
          />
        </svg>
      </div>
    </div>
    <div class="t6gkcSf0Bt4MLItXvDJ_ aa_y6SeayB9fNgBD5ROa">
      <div class="iPpA4AtZi__uabBE5IKW c8dCx6gnV43hTOLV6ks5 _43MO1gcdi2Y0RJW1uHL PeR2JZ9BZHYIH8Ea3F36 XIIs8ZOri3wm8Wnj9N_y">
        <span class="yM_AorRf2jSON3pDsdrz __9sbu0yrzdhGIkLWNXl OyABRrnTV_kvHV7dJ0uE">
          Bonnie Green
        </span>
        is requesting to upgrade the Flowbite Plan.
      </div>
      <div class="TR_P65x9ie7j6uxFo_Cs YRrCJSr_j5nopfm4duUc Q_jg_EPdNf9eDMn1mLI2 EU43bH15DCmsqkGyVBGj">
        <button
          type="button"
          class="YRrCJSr_j5nopfm4duUc t6gkcSf0Bt4MLItXvDJ_ Q_jg_EPdNf9eDMn1mLI2 Nm7xMnguzOx6J5Ao7yCU mveJTCIb2WII7J4sY22F g40_g3BQzYCOX5eZADgY _Cj_M6jt2eLjDgkBBNgI b9aD6g2qw84oyZNsMO8j gMXmdpOPfqG_3CKkL0VD ezMFUVl744lvw6ht0lFe y6GKdvUrd7vp_pxsFb57 YoPCmQ0E_V5W0GGmSIdm BkIbg_JwkgiyRW804Hhu _dylIDxYTN3qgvD4U597 KmgKPWh7pHX4ztLneO0T d8_fVOcgDmbt7UdpfeLK WuKugQzwTT7o1wwBck2R _ZsTMX_gz275093orLWM icxWjIgUd9_dzYucx1nx"
        >
          Accept
        </button>
        <button
          type="button"
          class="YRrCJSr_j5nopfm4duUc t6gkcSf0Bt4MLItXvDJ_ Q_jg_EPdNf9eDMn1mLI2 Nm7xMnguzOx6J5Ao7yCU mveJTCIb2WII7J4sY22F pXhVRBC8yaUNllmIWxln qUWbS_LTZujDB4XCd11V _Ybd3WwuTVljUT4vEaM3 _Cj_M6jt2eLjDgkBBNgI b9aD6g2qw84oyZNsMO8j gMXmdpOPfqG_3CKkL0VD ezMFUVl744lvw6ht0lFe __9sbu0yrzdhGIkLWNXl _7KA5gD55t2lxf9Jkj20 YXx9oZ15oLXSCG32YPBT xKUZEM163cLLvNnDh2ZN BkIbg_JwkgiyRW804Hhu _dylIDxYTN3qgvD4U597 XGQIxPVjm_m7D0aLHB7Y Mmx5lX7HVdrWCgh3EpTP _1jTZ8KXRZul60S6czNi XIIs8ZOri3wm8Wnj9N_y OPrb_iG5WDy_7F05BDOX dMTOiA3mf3FTjlHu6DqW yChACvAr1v8czJ2VO22j icxWjIgUd9_dzYucx1nx"
        >
          Decline
        </button>
      </div>
      <div class="gMXmdpOPfqG_3CKkL0VD ezMFUVl744lvw6ht0lFe OQflBVxALl1Ntbyc2J2_ s1eV9SScay8owH_251UR">
        32 minutes ago
      </div>
    </div>
  </a>
  <a
    href="#"
    class="YRrCJSr_j5nopfm4duUc EpUSgjHdM6oyMXUiK_8_ RZmKBZs1E1eXw8vkE6jY i8v96MUlFwGv9qJUkAx7 _7KA5gD55t2lxf9Jkj20 _fGhMnSfYmaGrv7DvZ00 OPrb_iG5WDy_7F05BDOX"
  >
    <div class="VQS2tmQ_zFyBOC2tkmto">
      <img
        class="TZANVyZaogC2vtqxZ7oo Rr_S4jo1he4sYSgq5LE_ RpVwy4sO7Asb86CncKJ_"
        src="https://flowbite.com/application-ui/demo/images/users/joseph-mcfall.png"
        alt="Joseph McFall avatar"
      />
      <div class="pq2JRWtiWcwYnw3xueNl XZQ1UNoAcQMIV4si4Jk_ MNgnvsy4e42uHuBwxxJg YRrCJSr_j5nopfm4duUc rxe6apEJoEk8r75xaVNG ADSeKHR1DvUUA48Chci_ Q_jg_EPdNf9eDMn1mLI2 Nm7xMnguzOx6J5Ao7yCU RpVwy4sO7Asb86CncKJ_ pXhVRBC8yaUNllmIWxln MGZ9bvBP5fgetIhNCD_o SdPDrbResNmgnA0L4Iki _fGhMnSfYmaGrv7DvZ00">
        <svg
          class="iRRyDh3hk0uKgmcxvdhD MNmifiddIP3pgI1Ifwlm y6GKdvUrd7vp_pxsFb57"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 18"
        >
          <path d="M17.947 2.053a5.209 5.209 0 0 0-3.793-1.53A6.414 6.414 0 0 0 10 2.311 6.482 6.482 0 0 0 5.824.5a5.2 5.2 0 0 0-3.8 1.521c-1.915 1.916-2.315 5.392.625 8.333l7 7a.5.5 0 0 0 .708 0l7-7a6.6 6.6 0 0 0 2.123-4.508 5.179 5.179 0 0 0-1.533-3.793Z" />
        </svg>
      </div>
    </div>
    <div class="t6gkcSf0Bt4MLItXvDJ_ aa_y6SeayB9fNgBD5ROa">
      <div class="iPpA4AtZi__uabBE5IKW c8dCx6gnV43hTOLV6ks5 _43MO1gcdi2Y0RJW1uHL PeR2JZ9BZHYIH8Ea3F36 XIIs8ZOri3wm8Wnj9N_y">
        <span class="yM_AorRf2jSON3pDsdrz __9sbu0yrzdhGIkLWNXl OyABRrnTV_kvHV7dJ0uE">
          Joseph Mcfall
        </span>
        and
        <span class="ezMFUVl744lvw6ht0lFe __9sbu0yrzdhGIkLWNXl OyABRrnTV_kvHV7dJ0uE">
          141 others
        </span>
        love your story. See it and view more stories.
      </div>
      <div class="gMXmdpOPfqG_3CKkL0VD ezMFUVl744lvw6ht0lFe OQflBVxALl1Ntbyc2J2_ s1eV9SScay8owH_251UR">
        44 minutes ago
      </div>
    </div>
  </a>
  <a
    href="#"
    class="YRrCJSr_j5nopfm4duUc EpUSgjHdM6oyMXUiK_8_ RZmKBZs1E1eXw8vkE6jY i8v96MUlFwGv9qJUkAx7 _7KA5gD55t2lxf9Jkj20 _fGhMnSfYmaGrv7DvZ00 OPrb_iG5WDy_7F05BDOX"
  >
    <div class="VQS2tmQ_zFyBOC2tkmto">
      <img
        class="TZANVyZaogC2vtqxZ7oo Rr_S4jo1he4sYSgq5LE_ RpVwy4sO7Asb86CncKJ_"
        src="https://flowbite.com/application-ui/demo/images/users/roberta-casas.png"
        alt="Roberta Casas image"
      />
      <div class="pq2JRWtiWcwYnw3xueNl XZQ1UNoAcQMIV4si4Jk_ MNgnvsy4e42uHuBwxxJg YRrCJSr_j5nopfm4duUc rxe6apEJoEk8r75xaVNG ADSeKHR1DvUUA48Chci_ Q_jg_EPdNf9eDMn1mLI2 Nm7xMnguzOx6J5Ao7yCU RpVwy4sO7Asb86CncKJ_ pXhVRBC8yaUNllmIWxln MGZ9bvBP5fgetIhNCD_o _8jNXfz935bbH_fAUIpN _fGhMnSfYmaGrv7DvZ00">
        <svg
          class="iRRyDh3hk0uKgmcxvdhD MNmifiddIP3pgI1Ifwlm y6GKdvUrd7vp_pxsFb57"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 18"
        >
          <path d="M18 0H2a2 2 0 0 0-2 2v9a2 2 0 0 0 2 2h2v4a1 1 0 0 0 1.707.707L10.414 13H18a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2Zm-5 4h2a1 1 0 1 1 0 2h-2a1 1 0 1 1 0-2ZM5 4h5a1 1 0 1 1 0 2H5a1 1 0 0 1 0-2Zm2 5H5a1 1 0 0 1 0-2h2a1 1 0 0 1 0 2Zm9 0h-6a1 1 0 0 1 0-2h6a1 1 0 1 1 0 2Z" />
        </svg>
      </div>
    </div>
    <div class="t6gkcSf0Bt4MLItXvDJ_ aa_y6SeayB9fNgBD5ROa">
      <div class="iPpA4AtZi__uabBE5IKW c8dCx6gnV43hTOLV6ks5 _43MO1gcdi2Y0RJW1uHL PeR2JZ9BZHYIH8Ea3F36 XIIs8ZOri3wm8Wnj9N_y">
        <span class="yM_AorRf2jSON3pDsdrz __9sbu0yrzdhGIkLWNXl OyABRrnTV_kvHV7dJ0uE">
          Leslie Livingston
        </span>
        mentioned you in a comment:
        <span class="ezMFUVl744lvw6ht0lFe OQflBVxALl1Ntbyc2J2_ fZf6W_ZtzEh6EEqmWMA9">
          @bonnie.green
        </span>
        what do you say?
      </div>
      <div class="gMXmdpOPfqG_3CKkL0VD ezMFUVl744lvw6ht0lFe OQflBVxALl1Ntbyc2J2_ s1eV9SScay8owH_251UR">
        1 hour ago
      </div>
    </div>
  </a>
  <a
    href="#"
    class="YRrCJSr_j5nopfm4duUc RZmKBZs1E1eXw8vkE6jY i8v96MUlFwGv9qJUkAx7 _7KA5gD55t2lxf9Jkj20 RzANcaqunVvlLrO6_tal"
  >
    <div class="VQS2tmQ_zFyBOC2tkmto">
      <img
        class="TZANVyZaogC2vtqxZ7oo Rr_S4jo1he4sYSgq5LE_ RpVwy4sO7Asb86CncKJ_"
        src="https://flowbite.com/application-ui/demo/images/users/robert-brown.png"
        alt="Robert image"
      />
      <div class="pq2JRWtiWcwYnw3xueNl XZQ1UNoAcQMIV4si4Jk_ MNgnvsy4e42uHuBwxxJg YRrCJSr_j5nopfm4duUc rxe6apEJoEk8r75xaVNG ADSeKHR1DvUUA48Chci_ Q_jg_EPdNf9eDMn1mLI2 Nm7xMnguzOx6J5Ao7yCU RpVwy4sO7Asb86CncKJ_ pXhVRBC8yaUNllmIWxln MGZ9bvBP5fgetIhNCD_o _I92_RswYrnpS0B5dKZO _fGhMnSfYmaGrv7DvZ00">
        <svg
          class="iRRyDh3hk0uKgmcxvdhD MNmifiddIP3pgI1Ifwlm y6GKdvUrd7vp_pxsFb57"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 14"
        >
          <path d="M11 0H2a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h9a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2Zm8.585 1.189a.994.994 0 0 0-.9-.138l-2.965.983a1 1 0 0 0-.685.949v8a1 1 0 0 0 .675.946l2.965 1.02a1.013 1.013 0 0 0 1.032-.242A1 1 0 0 0 20 12V2a1 1 0 0 0-.415-.811Z" />
        </svg>
      </div>
    </div>
    <div class="t6gkcSf0Bt4MLItXvDJ_ aa_y6SeayB9fNgBD5ROa">
      <div class="iPpA4AtZi__uabBE5IKW c8dCx6gnV43hTOLV6ks5 _43MO1gcdi2Y0RJW1uHL PeR2JZ9BZHYIH8Ea3F36 XIIs8ZOri3wm8Wnj9N_y">
        <span class="yM_AorRf2jSON3pDsdrz __9sbu0yrzdhGIkLWNXl OyABRrnTV_kvHV7dJ0uE">
          Robert Brown
        </span>
        posted a new video: Glassmorphism - learn how to implement the new design
        trend.
      </div>
      <div class="gMXmdpOPfqG_3CKkL0VD ezMFUVl744lvw6ht0lFe OQflBVxALl1Ntbyc2J2_ s1eV9SScay8owH_251UR">
        3 hours ago
      </div>
    </div>
  </a>
</div> */}
{/* <a
  href="#"
  class="_Vb9igHms0hI1PQcvp_S _9dH7mrOkzM4RTmidHTs b9aD6g2qw84oyZNsMO8j ijrOHNoSVGATsWYKl4Id d3C8uAdJKNl1jzfE9ynq ezMFUVl744lvw6ht0lFe __9sbu0yrzdhGIkLWNXl lBgPGkku8NiP5ReH09_2 jqg6J89cvxmDiFpnV56r OyABRrnTV_kvHV7dJ0uE RzANcaqunVvlLrO6_tal Eu6DAInc_AYT0KJ7LY1L"
>
  <div class="_k0lTW0vvzboctTxDi2R Q_jg_EPdNf9eDMn1mLI2">
    <svg
      class="IRKzgyPj4qWOh2vq2xBg rxe6apEJoEk8r75xaVNG ADSeKHR1DvUUA48Chci_"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      fill="currentColor"
      viewBox="0 0 24 24"
    >
      <path
        fill-rule="evenodd"
        d="M4.998 7.78C6.729 6.345 9.198 5 12 5c2.802 0 5.27 1.345 7.002 2.78a12.713 12.713 0 0 1 2.096 2.183c.253.344.465.682.618.997.14.286.284.658.284 1.04s-.145.754-.284 1.04a6.6 6.6 0 0 1-.618.997 12.712 12.712 0 0 1-2.096 2.183C17.271 17.655 14.802 19 12 19c-2.802 0-5.27-1.345-7.002-2.78a12.712 12.712 0 0 1-2.096-2.183 6.6 6.6 0 0 1-.618-.997C2.144 12.754 2 12.382 2 12s.145-.754.284-1.04c.153-.315.365-.653.618-.997A12.714 12.714 0 0 1 4.998 7.78ZM12 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"
        clip-rule="evenodd"
      />
    </svg>
    View all
  </div>
</a> */}
</div>