---
import ContractEditor from "../admin/ContractEditor.astro";
import Alert from "../partials/Alert.astro";

interface Props {
  project: any;
  projectStatus?: number;
  projectStatusLabel?: string;
  invoiceId?: string;
  globalSecondaryTextClasses?: string;
  globalPrimaryTextClasses?: string;
  globalInputClasses?: string;
  currentUser?: any;
  statusData?: any;
  statusAlert?: string;
}

const {
  project,
  projectStatus = 0,
  projectStatusLabel,
  invoiceId,
  currentUser,
  globalSecondaryTextClasses,
  globalPrimaryTextClasses,
  globalInputClasses,
  statusData,
} = Astro.props;

const projectId = project.id;
const currentRole = currentUser?.profile?.role;

// Load and process contract template

// Debug logging
// console.log("🔍 [TAB-CONTRACT] Props received:", {
//   currentRole,
//   projectStatus,
//   projectStatusType: typeof projectStatus,
//   projectStatusLabel,
//   projectId,
// });

// console.log("🔍 [TAB-CONTRACT] Debug values:", {
//   projectId,
//   projectStatus,
//   projectStatusLabel,
//   invoiceId,
//   currentRole,
// });

function getStatusAlert() {
  if (currentRole === "Client") {
    return Number(projectStatus) < 45
      ? "Contract will be available after proposal is accepted."
      : Number(projectStatus) === 45
        ? "Please sign the contract to begin work."
        : Number(projectStatus) > 45
          ? "Contract has been signed."
          : null;
  } else {
    return Number(projectStatus) < 45
      ? "Client has not been sent the contract, they need to accept the proposal first."
      : Number(projectStatus) === 45
        ? "Here's the default contract, edit it, save it, send it, fuck off."
        : Number(projectStatus) > 45
          ? "Contract has been signed and is ready to begin work."
          : null;
  }
}

const statusAlert = getStatusAlert();
---

<div id="content-contract" class="tab-content p-4 bg-white dark:bg-gray-800">
  <Alert title={statusAlert} />

  {
    // 50 is contract signed
    Number(projectStatus) < 50 && currentRole === "Admin" ? (
      <ContractEditor
        project={project}
        title={project.title || project.address}
        project={project}
        editMode={true}
        projectStatus={projectStatus}
        statusData={statusData}
        currentUser={currentUser}
      />
    ) : (
      <ContractEditor
        project={project}
        title={project.title || project.address}
        project={project}
        editMode={false}
        projectStatus={projectStatus}
        statusData={statusData}
        currentUser={currentUser}
      />
    )
  }
</div>
