---
import Discussions from "../form/Discussions.astro";

interface Props {
  currentUser?: any;
  project: any;
  globalInputClasses?: string;
  secondaryTextClasses?: string;
  primaryTextClasses?: string;
}

const { currentUser, project, globalInputClasses, secondaryTextClasses, primaryTextClasses } =
  Astro.props;

const currentRole = currentUser?.profile?.role;
const projectId = project?.id;
---

<div
  id="content-discussion"
  class="tab-content shadow-lg p-4 color-background relative min-h-[calc(100dvh-24rem)]"
>
  <Discussions
    {project}
    {currentUser}
    {globalInputClasses}
    {secondaryTextClasses}
    {primaryTextClasses}
    placeholder={currentRole === "Admin" || currentRole === "Staff"
      ? "Write your comment here... (Use @username to mention users)"
      : "Write your comment here..."}
  />
</div>
