---
import ProjectForm from "./ProjectForm.astro";

interface Props {
  currentUser?: any;
  project: any;
  projectStatus?: number;
  projectStatusLabel?: string;
  globalInputClasses?: string;
  secondaryTextClasses?: string;
  primaryTextClasses?: string;
}

const {
  project,
  projectStatus = 0,
  projectStatusLabel,
  currentUser,
  globalInputClasses,
  secondaryTextClasses,
  primaryTextClasses,
} = Astro.props;
---

<div
  id="content-project-form"
  class="tab-content shadow-lg p-4 color-background relative min-h-[calc(100dvh-24rem)]"
>
  <ProjectForm
    {project}
    isNewProject={false}
    {currentUser}
    {projectStatus}
    {globalInputClasses}
    {secondaryTextClasses}
    {primaryTextClasses}
  />
</div>
