---
import ProjectForm from "./ProjectForm.astro";

interface Props {
  currentUser?: any;
  project: any;
  projectStatus?: number;
  projectStatusLabel?: string;
  globalInputClasses?: string;
  globalSecondaryTextClasses?: string;
  globalPrimaryTextClasses?: string;
}

const {
  project,
  projectStatus = 0,
  projectStatusLabel,
  currentUser,
  globalInputClasses,
  globalSecondaryTextClasses,
  globalPrimaryTextClasses,
} = Astro.props;
---

<div id="content-project-form" class="tab-content p-4 bg-white dark:bg-gray-800">
  <ProjectForm
    {project}
    isNewProject={false}
    {currentUser}
    {projectStatus}
    {globalInputClasses}
    {globalSecondaryTextClasses}
    {globalPrimaryTextClasses}
  />
</div>
