---
import ProposalManager from "./ProposalManager.astro";

interface Props {
  authorProfile?: any;
  currentRole?: string;
  project: any;
  projectId: string;
  projectStatus?: number;
  projectStatusLabel?: string;
  currentUser?: any;
}

const {
  project,
  currentRole,
  projectId,
  authorProfile,
  projectStatus = 0,
  projectStatusLabel,
  currentUser,
} = Astro.props;
---

<div
  id="content-proposal"
  class="tab-content hidden rounded-lg bg-white p-6 shadow-md dark:bg-gray-800"
>
  <ProposalManager
    projectId={projectId}
    project={project}
    authorProfile={authorProfile}
    currentRole={currentRole || undefined}
    projectStatus={projectStatus}
    projectStatusLabel={projectStatusLabel}
    currentUser={currentUser}
  />
</div>
