---
import ProjectForm from "./ProjectForm.astro";

interface Props {
  authorProfile?: any;
  currentRole?: string;
  project: any;
  projectId: string;
  projectStatus?: number;
  projectStatusLabel?: string;
}

const { project, currentRole, projectId, projectStatus = 0, projectStatusLabel } = Astro.props;
---

<div id="content-project-form" class="tab-content">
  <ProjectForm
    project={project}
    projectId={projectId}
    isNewProject={false}
    currentRole={currentRole}
    projectStatus={projectStatus}
  />
</div>
