---
import BoxIcon from "../common/BoxIcon.astro";
import ProposalManager from "./ProposalManager.astro";

interface Props {
  authorProfile?: any;
  currentRole?: string;
  project: any;
  projectId: string;
  projectStatus?: number;
  projectStatusLabel?: string;
  currentUser?: any;
  globalInputClasses?: string;
  globalSecondaryTextClasses?: string;
  globalPrimaryTextClasses?: string;
}

const {
  project,
  currentRole,
  projectId,
  authorProfile,
  projectStatus = 0,
  projectStatusLabel,
  currentUser,
  globalInputClasses,
  globalSecondaryTextClasses,
  globalPrimaryTextClasses,
} = Astro.props;

function getStatusAlert() {
  return (
    currentRole === "Client" &&
    (Number(projectStatus) < 20
      ? "Upload your project documents first."
      : Number(projectStatus) >= 20 && Number(projectStatus) < 30
        ? "Proposal is being generated."
        : Number(projectStatus) >= 30 && Number(projectStatus) < 40
          ? "Please review your proposal  ."
          : Number(projectStatus) >= 40 && Number(projectStatus) < 50
            ? "Please sign off on your proposal."
            : Number(projectStatus) >= 50 && Number(projectStatus) < 60
              ? "Please pay your deposit."
              : null)
  );
}
const statusAlert = getStatusAlert();
---

<div id="content-proposal" class="tab-content hidden">
  <div
    class="mb-4 rounded-lg border border-blue-200 bg-blue-50 p-4 dark:border-blue-800 dark:bg-blue-900/20"
  >
    <div class="flex items-start">
      <BoxIcon name="info-circle" class="mr-2 mt-0.5 text-lg text-blue-600 dark:text-blue-400" />
      <div class="text-blue-800 dark:text-blue-400">
        <h3 class="text-lg">{statusAlert}</h3>
      </div>
    </div>
  </div>

  {
    currentRole === "Client" ? (
      <ProposalManager
        projectId={projectId}
        project={project}
        authorProfile={authorProfile}
        currentRole={currentRole || undefined}
        projectStatus={projectStatus}
        projectStatusLabel={projectStatusLabel}
        currentUser={currentUser}
        globalInputClasses={globalInputClasses}
        globalSecondaryTextClasses={globalSecondaryTextClasses}
        globalPrimaryTextClasses={globalPrimaryTextClasses}
        isViewOnly={true}
      />
    ) : (
      <ProposalManager
        projectId={projectId}
        project={project}
        authorProfile={authorProfile}
        currentRole={currentRole || undefined}
        projectStatus={projectStatus}
        projectStatusLabel={projectStatusLabel}
        currentUser={currentUser}
        globalInputClasses={globalInputClasses}
        globalSecondaryTextClasses={globalSecondaryTextClasses}
        globalPrimaryTextClasses={globalPrimaryTextClasses}
        isViewOnly={false}
      />
    )
  }
</div>
