---
import ProposalManager from "./ProposalManager.astro";

interface Props {
  authorProfile?: any;
  currentRole?: string;
  project: any;
  projectId: string;
  projectStatus?: number;
  projectStatusLabel?: string;
  currentUser?: any;
  invoiceResult?: any;
  globalInputClasses?: string;
  globalSecondaryTextClasses?: string;
  globalPrimaryTextClasses?: string;
}

const {
  project,
  currentRole,
  projectId,
  authorProfile,
  projectStatus = 0,
  projectStatusLabel,
  currentUser,
  invoiceResult,
  globalInputClasses,
  globalSecondaryTextClasses,
  globalPrimaryTextClasses,
} = Astro.props;
---

<div id="content-proposal" class="tab-content hidden">
  <ProposalManager
    projectId={projectId}
    project={project}
    authorProfile={authorProfile}
    currentRole={currentRole || undefined}
    projectStatus={projectStatus}
    projectStatusLabel={projectStatusLabel}
    currentUser={currentUser}
    invoiceResult={invoiceResult}
    globalInputClasses={globalInputClasses}
    globalSecondaryTextClasses={globalSecondaryTextClasses}
    globalPrimaryTextClasses={globalPrimaryTextClasses}
  />
</div>
