---
import ProjectForm from "./ProjectForm.astro";

interface Props {
  currentUser?: any;
  project: any;
  projectStatus?: number;
  projectStatusLabel?: string;
  globalInputClasses?: string;
  secondaryTextClasses?: string;
  primaryTextClasses?: string;
}

const {
  project,
  projectStatus = 0,
  projectStatusLabel,
  currentUser,
  globalInputClasses,
  secondaryTextClasses,
  primaryTextClasses,
} = Astro.props;
---

<div id="content-project-form" class="tab-content p-4 bg-white dark:bg-gray-800 relative">
  <ProjectForm
    {project}
    isNewProject={false}
    {currentUser}
    {projectStatus}
    {globalInputClasses}
    {secondaryTextClasses}
    {primaryTextClasses}
  />
</div>
