---
import ProjectForm from "./ProjectForm.astro";
import { projectTabPanelClass } from "../../lib/project-tab-panel";

interface Props {
  project: any;
  projectStatus?: number;
  projectStatusLabel?: string;
  globalInputClasses?: string;
  secondaryTextClasses?: string;
  primaryTextClasses?: string;
  isActiveTab?: boolean;
}

const {
  project,
  projectStatus = 0,
  projectStatusLabel,
  globalInputClasses,
  secondaryTextClasses,
  primaryTextClasses,
  isActiveTab = false,
} = Astro.props;

const panelClass = projectTabPanelClass(
  isActiveTab,
  "tab-content color-background relative mb-16 min-h-[calc(100dvh-24rem)] p-4 shadow-lg"
);
---

<div id="content-project-form" class={panelClass}>
  <ProjectForm
    {project}
    isNewProject={false}
    {projectStatus}
    {globalInputClasses}
    {secondaryTextClasses}
    {primaryTextClasses}
  />
</div>
