---
/**
 * New Project Page - Renders CMS content for /project/new
 */
import { checkAuth } from "../../lib/auth";

import Hero from "../../components/common/Hero.astro";
import ProjectForm from "../../components/project/ProjectForm.astro";
import LayoutFullWidth from "../../components/layouts/LayoutFullWidth.astro";
import { globalCompanyData } from "../api/global/global-company-data.ts";
import { globalClasses } from "../api/global/global-classes.ts";

const { currentUser, session, supabase } = await checkAuth(Astro.cookies);
const { globalInputClasses, primaryTextClasses, secondaryTextClasses } = globalClasses();
const { globalCompanyName } = await globalCompanyData();
---

<LayoutFullWidth
  title="Start a New Project"
  description="Create a new project"
  mainClasses="overflow-x-scroll px-4"
>
  <>
    <Hero
      title="Start a New Project"
      description={`Welcome to the ${globalCompanyName} Project Management System.<span class="hidden sm:inline"><br>All aspects of your project can be managed here.</span>`}
      {primaryTextClasses}
      {secondaryTextClasses}
      {globalInputClasses}
    />

    <div class="transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1) px-4 transition-all duration-200">
      <div
        id="project-form-tab-content"
        class="tab-content relative mb-16 min-h-[calc(100dvh-24rem)] p-4 shadow-lg"
      >
        <ProjectForm
          {currentUser}
          isNewProject={true}
          project={undefined}
          projectStatus={0}
          {globalInputClasses}
          {secondaryTextClasses}
          {primaryTextClasses}
        />
      </div>
    </div>
  </>
</LayoutFullWidth>
