---
const requireAuthRedirect = "/login";
import { checkAuth } from "../lib/auth";
const { currentUser, session, supabase, refreshToken, accessToken } = await checkAuth(
  Astro.cookies
);
const currentRole = currentUser?.profile?.role || "Client";

// Handle auth redirect first
if (requireAuthRedirect && (!session || !currentUser)) {
  return Astro.redirect(requireAuthRedirect);
}

import { globalCompanyData } from "../pages/api/global-company-data";
const {
  globalCompanyName,
  globalCompanySlogan,
  globalCompanyAddress,
  globalCompanyPhone,
  globalCompanyEmail,
  globalCompanyWebsite,
  globalCompanyLogo,
  globalCompanyLogoDark,
  globalCompanyLogoLight,
} = globalCompanyData();

import { globalClasses } from "../pages/api/global-classes";
const { globalInputClasses, globalPrimaryTextClasses, globalSecondaryTextClasses } =
  globalClasses();

import App from "../components/common/App.astro";
import ContactFormWithUpload from "../components/common/ContactFormWithUpload.astro";
import Hero from "../components/common/Hero.astro";
---

<App
  title="Global Dashboard - CAPCo Fire Protection"
  description="View all projects."
  currentUser={currentUser}
  session={session}
  supabase={supabase}
  globalCompanyName={globalCompanyName}
  globalCompanySlogan={globalCompanySlogan}
  globalPrimaryTextClasses={globalPrimaryTextClasses}
  globalSecondaryTextClasses={globalSecondaryTextClasses}
  globalInputClasses={globalInputClasses}
  globalCompanyAddress={globalCompanyAddress}
  globalCompanyPhone={globalCompanyPhone}
  globalCompanyEmail={globalCompanyEmail}
  globalCompanyWebsite={globalCompanyWebsite}
  globalCompanyLogo={globalCompanyLogo}
  globalCompanyLogoDark={globalCompanyLogoDark}
  globalCompanyLogoLight={globalCompanyLogoLight}
>
  <!-- Dashboard Container -->

  <div
    class="xCPtuxM4_gihvpPwv9bX wDF2ls8Apmy3KGiCbxI_ iHPddplqYvrN6qWgvntn _Ybd3WwuTVljUT4vEaM3 h8KYXnua2NT4kTVzieom"
  >
    <Hero
      title={`Contact Us - ${globalCompanyName}`}
      description={`Get in touch with ${globalCompanyName} for all your fire protection needs.`}
    />

    <div class="ahOqFrhzLjivRe8a1kX_ EWLTGduHCjFnjN6tLCXV grow">
      <ContactFormWithUpload globalInputClasses={globalInputClasses} />
    </div>
  </div>
</App>
