---
import { checkAuth } from "../lib/auth";
const { currentUser, session, supabase, refreshToken, accessToken } = await checkAuth(
  Astro.cookies
);

import { globalCompanyData } from "./api/global/global-company-data";
const { globalCompanyName } = globalCompanyData();

import { globalClasses } from "./api/global/global-classes";
const { globalInputClasses, globalPrimaryTextClasses, globalSecondaryTextClasses } =
  globalClasses();

import App from "../components/common/App.astro";
import ContactFormWithUpload from "../components/common/ContactFormWithUpload.astro";
import Hero from "../components/common/Hero.astro";
---

<App
  title="Global Dashboard - CAPCo Fire Protection"
  description="View all projects."
  {currentUser}
  {session}
  {supabase}
  {globalCompanyName}
  {globalPrimaryTextClasses}
  {globalSecondaryTextClasses}
  {globalInputClasses}
>
  <!-- Dashboard Container -->

  <div class="wDF2ls8Apmy3KGiCbxI_ grid gap-4 bg-gray-100 dark:bg-gray-900">
    <Hero
      title={`Contact Us`}
      description={`Get in touch with ${globalCompanyName} for all your fire protection needs.`}
      {globalPrimaryTextClasses}
      {globalSecondaryTextClasses}
      {globalInputClasses}
    />

    <div class="relative col-span-full grow p-4">
      <ContactFormWithUpload {globalInputClasses} />
    </div>
  </div>
</App>
