---
import { checkAuth } from "../lib/auth";
const { currentUser, session, supabase, refreshToken, accessToken } = await checkAuth(
  Astro.cookies
);
const currentRole = currentUser?.profile?.role || "Client";

import { globalCompanyData } from "../pages/api/global-company-data";
const {
  globalCompanyName,
  globalCompanySlogan,
  globalCompanyAddress,
  globalCompanyPhone,
  globalCompanyEmail,
  globalCompanyWebsite,
  globalCompanyLogo,
  globalCompanyLogoDark,
  globalCompanyLogoLight,
} = globalCompanyData();

import { globalClasses } from "../pages/api/global-classes";
const { globalInputClasses, globalPrimaryTextClasses, globalSecondaryTextClasses } =
  globalClasses();

import App from "../components/common/App.astro";
import BookingDemo from "../components/common/BookingDemo.astro";
import Hero from "../components/common/Hero.astro";
---

<App
  title="Book a Demo"
  description="Schedule a personalized demo of our fire protection system management platform. See how we can streamline your workflow."
  {currentUser}
  {session}
  {supabase}
  isBackend={true}
>
  <div class="px-4 pt-4">
    <div class="rounded-md bg-gray-100 p-4 p-6 shadow-sm dark:bg-gray-800">
      <!-- Hero Section -->
      <Hero
        title="Book a Demo"
        description="Schedule a personalized demo of our fire protection system management platform. See how we can streamline your workflow."
      />
      <!-- Booking Demo Section -->
      <BookingDemo {globalInputClasses} {globalPrimaryTextClasses} {globalSecondaryTextClasses} />
    </div>
  </div>
</App>
