---
import Acrobat from "../components/Acrobat.astro";
import { cardsData } from "../data/submittals.js";
import NoDataCard from "../components/NoDataCard.astro";
import { getI18N } from "@/i18n";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<div id="client-hold" data-accordion="collapse">
  {
    cardsData.length > 0 ? (
      cardsData.map((card, index) => (
        <Acrobat
          i={index}
          url={card.url}
          href={card.href}
          title={card.title}
          isLate={card.isLate}
          isNew={card.isNew}
          isViewed={card.isViewed}
          subtitle={card.subtitle}
          imageSrc={card.imageSrc}
          icon={card.icon}
          imageAlt={card.imageAlt}
          isFirst={index === 0 ? true : false}
          isLast={index === cardsData.length - 1 ? true : false}
        />
      ))
    ) : (
      <NoDataCard
        message={i18n.SUBMITTALS.empty.message}
        subtitle={i18n.SUBMITTALS.empty.message2}
        imageSrc=""
      />
    )
  }

  <slot />
</div>

<script type="module" is:inline>
  // const clientContent = document.getElementById("client-hold");

  // async function checkAuthAndRole() {
  //   const {
  //     data: { session },
  //   } = await supabase.auth.getSession();
  //   if (session && session.user) {
  //     // Fetch profile
  //     const { data: user, error } = await supabase
  //       .from("user")
  //       .select("*")
  //       .eq("id", session.user.id)
  //       .single();

  //     const { data: profile, error: profileError } = await supabase
  //       .from("profiles")
  //       .select("role")
  //       .eq("id", session.user.id)
  //       .single();

  //     if (!error && profile && profile.role === "Client") {
  //       const { data: projects, error } = await supabase
  //         .from("projects")
  //         .select("*")
  //         .eq("author_id", session.user.id);

  //       clientContent.style.display = "";
  //       if (projects?.length > 0) {
  //         clientContent.innerHTML = `
  //           <div>You have ${projects.length} projects</div>
  //           ${projects.map((project) => `<div>${project.name}</div>`).join("")}
  //         `;
  //       } else {
  //         clientContent.innerHTML = "<div>No projects found</div>";
  //       }
  //       // form.style.display = "none";
  //       // return;
  //     }

  //     if (!error && profile && profile.role === "Admin") {
  //       const { data: projects, error } = await supabase.from("projects");

  //       console.log(Date.now());
  //       clientContent.style.display = "";
  //       if (projects?.length > 0) {
  //         clientContent.innerHTML = `
  //           <div>You have ${projects.length} projects</div>
  //           ${projects.map((project) => `<div>${project.name}</div>`).join("")}
  //         `;
  //       } else {
  //         clientContent.innerHTML = "<div>No projects found</div>";
  //       }
  //       form.style.display = "none";
  //       // return;
  //     }
  //     debugger;
  //     pageTitle.textContent = user.display_name;
  //   }
  //   clientContent.style.display = "none";
  //   form.style.display = "";
  // }

  // checkAuthAndRole();
  // supabase.auth.onAuthStateChange(() => {
  //   checkAuthAndRole();
  // });
</script>
