---
// Flowbite Sidebar Component
// Based on Flowbite dashboard design patterns

// import UnifiedChat from "./UnifiedChat.astro";
import HttpChatWidget from "./HttpChatWidget.astro";
import LucideIcon from "./LucideIcon.astro";
import NotificationDropdown from "./NotificationDropdown.astro";
import AssignedProjects from "./AssignedProjects.astro";

interface Props {
  currentUser: any;
  globalInputClasses: string;
  project: any;
  primaryTextClasses: string;
  secondaryTextClasses: string;
  projects: any[];
}

const {
  currentUser,
  project,
  globalInputClasses,
  primaryTextClasses,
  secondaryTextClasses,
  projects,
} = Astro.props;
const currentRole = currentUser?.profile?.role;
if (!currentUser || currentRole === "Client") {
  return null;
}

const anchorClasses =
  "hover:bg-gray-300 dark:hover:bg-gray-700 flex w-full align-center rounded-lg p-2 pr-0";
const svgClasses = "h-4 w-4 flex-shrink-0 text-gray-900 dark:text-gray-400";
---

<aside
  id="sidebar"
  class="sticky top-14 pt-0 w-64 h-screen transition-all duration-300 ease-in-out bg-gray-50 -translate-x-full sm:translate-x-0 shadow-sm border-r dark:border-gray-700 dark:bg-gray-800"
  aria-label="Sidebar"
>
  <div class="h-full px-3 py-4 overflow-y-auto">
    <ul
      class={`space-y-2 text-xs font-medium uppercase tracking-wider ${primaryTextClasses}`}
      id="sidebar-menu"
    >
      <li>
        <a href="/dashboard" type="button" class={`${anchorClasses}`}>
          <LucideIcon name="dashboard" class={svgClasses} />

          <span
            data-sidebar-collapse-hide=""
            class="ml-3 flex-1 whitespace-nowrap text-left"
            data-sidebar-collapse-hide="">Dashboard</span
          >
        </a>
      </li>

      <li>
        <a href="/admin/discussions" class={`${anchorClasses}`} data-sidebar-collapse-item="">
          {
            /* aria-controls="dropdown-users"
          data-collapse-toggle="dropdown-users" */
          }

          <span
            data-sidebar-collapse-hide=""
            class="ml-3 flex-1 whitespace-nowrap text-left"
            data-sidebar-collapse-hide=""
          >
            All Discussions
          </span>
        </a>
      </li>

      {
        currentRole !== "Client" && (
          <li>
            <a href="/admin/calendar" class={`${anchorClasses}`} data-sidebar-collapse-item="">
              {/* aria-controls="dropdown-users"
          data-collapse-toggle="dropdown-users" */}

              <svg
                class={svgClasses}
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  fill-rule="evenodd"
                  d="M8 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4H6Zm7.25-2.095c.478-.86.75-1.85.75-2.905a5.973 5.973 0 0 0-.75-2.906 4 4 0 1 1 0 5.811ZM15.466 20c.34-.588.535-1.271.535-2v-1a5.978 5.978 0 0 0-1.528-4H18a4 4 0 0 1 4 4v1a2 2 0 0 1-2 2h-4.535Z"
                  clip-rule="evenodd"
                />
              </svg>

              <span
                data-sidebar-collapse-hide=""
                class="ml-3 flex-1 whitespace-nowrap text-left"
                data-sidebar-collapse-hide=""
              >
                Calendar
              </span>
            </a>
          </li>
        )
      }
      {
        currentRole !== "Client" && (
          <li>
            <a href="/admin/analytics" class={`${anchorClasses}`} data-sidebar-collapse-item="">
              <LucideIcon name="bar-chart-3" class={svgClasses} />

              {/* aria-controls="dropdown-users"
          data-collapse-toggle="dropdown-users" */}

              {/* <svg
                class="h-4 w-4 flex-shrink-0 text-gray-900 dark:text-gray-400"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  fill-rule="evenodd"
                  d="M8 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4H6Zm7.25-2.095c.478-.86.75-1.85.75-2.905a5.973 5.973 0 0 0-.75-2.906 4 4 0 1 1 0 5.811ZM15.466 20c.34-.588.535-1.271.535-2v-1a5.978 5.978 0 0 0-1.528-4H18a4 4 0 0 1 4 4v1a2 2 0 0 1-2 2h-4.535Z"
                  clip-rule="evenodd"
                />
              </svg> */}

              <span
                data-sidebar-collapse-hide=""
                class="ml-3 flex-1 whitespace-nowrap text-left"
                data-sidebar-collapse-hide=""
              >
                Analytics
              </span>
            </a>
          </li>
        )
      }

      {
        currentRole !== "Client" && (
          <AssignedProjects currentUser={currentUser} projects={projects} />
        )
      }

      {
        currentRole === "Admin" && (
          <li>
            <a
              href="/admin/global-activity"
              class={`${anchorClasses}`}
              data-sidebar-collapse-item=""
            >
              {/* aria-controls="dropdown-users"
              data-collapse-toggle="dropdown-users" */}

              <svg
                class={svgClasses}
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  fill-rule="evenodd"
                  d="M8.64 4.737A7.97 7.97 0 0 1 12 4a7.997 7.997 0 0 1 6.933 4.006h-.738c-.65 0-1.177.25-1.177.9 0 .33 0 2.04-2.026 2.008-1.972 0-1.972-1.732-1.972-2.008 0-1.429-.787-1.65-1.752-1.923-.374-.105-.774-.218-1.166-.411-1.004-.497-1.347-1.183-1.461-1.835ZM6 4a10.06 10.06 0 0 0-2.812 3.27A9.956 9.956 0 0 0 2 12c0 5.289 4.106 9.619 9.304 9.976l.054.004a10.12 10.12 0 0 0 1.155.007h.002a10.024 10.024 0 0 0 1.5-.19 9.925 9.925 0 0 0 2.259-.754 10.041 10.041 0 0 0 4.987-5.263A9.917 9.917 0 0 0 22 12a10.025 10.025 0 0 0-.315-2.5A10.001 10.001 0 0 0 12 2a9.964 9.964 0 0 0-6 2Zm13.372 11.113a2.575 2.575 0 0 0-.75-.112h-.217A3.405 3.405 0 0 0 15 18.405v1.014a8.027 8.027 0 0 0 4.372-4.307ZM12.114 20H12A8 8 0 0 1 5.1 7.95c.95.541 1.421 1.537 1.835 2.415.209.441.403.853.637 1.162.54.712 1.063 1.019 1.591 1.328.52.305 1.047.613 1.6 1.316 1.44 1.825 1.419 4.366 1.35 5.828Z"
                  clip-rule="evenodd"
                />
              </svg>

              <span
                data-sidebar-collapse-hide=""
                class="ml-3 flex-1 whitespace-nowrap text-left"
                data-sidebar-collapse-hide=""
              >
                Global Activity
              </span>
            </a>
          </li>
        )
      }

      {
        currentRole === "Admin" && (
          <li>
            <a href="/admin/notifications" class={`${anchorClasses}`} data-sidebar-collapse-item="">
              {/* aria-controls="dropdown-users"
              data-collapse-toggle="dropdown-users" */}

              <svg
                class={svgClasses}
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M 4.683 8.721 C 3.874 8.99 3.754 10.084 4.485 10.522 L 9.445 13.498 L 13.068 9.875 C 13.36 9.583 13.833 9.583 14.126 9.875 C 14.418 10.167 14.418 10.641 14.126 10.933 L 10.502 14.556 L 13.478 19.516 C 13.917 20.246 15.01 20.126 15.28 19.318 L 19.948 5.315 C 20.207 4.535 19.466 3.793 18.686 4.053 L 4.683 8.721 Z"
                  fill="currentColor"
                />
              </svg>

              <span class="ml-3 flex-1 whitespace-nowrap text-left" data-sidebar-collapse-hide="">
                Send Notifications
              </span>
            </a>
          </li>
        )
      }

      {
        currentUser && (
          <li>
            <a
              id="notification-bell"
              href="#"
              class={`${anchorClasses} hover:bg-gray-300 dark:hover:bg-gray-700 flex w-full align-center rounded-lg p-2`}
              data-sidebar-collapse-item=""
              data-modal-target="notificationsModal"
              data-modal-toggle="notificationsModal"
              data-user-id={currentUser.id}
            >
              <LucideIcon name="bell" class="mr-2" />
              <span data-sidebar-collapse-hide="">View notifications</span>
            </a>
          </li>
        )
      }

      {
        currentRole === "Admin" && currentUser.email === "tom@tomsens.com" && (
          <li>
            <a
              href="/admin/email-delivery-test"
              class={`${anchorClasses}`}
              data-sidebar-collapse-item=""
            >
              <LucideIcon name="alert" class={svgClasses} />

              <span
                data-sidebar-collapse-hide=""
                class="ml-3 flex-1 whitespace-nowrap text-left"
                data-sidebar-collapse-hide=""
              >
                Update Test
              </span>
            </a>
          </li>
        )
      }

      {
        currentRole === "Admin" && (
          <li>
            <a href="/admin/users" class={`${anchorClasses}`} data-sidebar-collapse-item="">
              <LucideIcon name="users" class={svgClasses} />

              <span
                data-sidebar-collapse-hide=""
                class="ml-3 flex-1 whitespace-nowrap text-left"
                data-sidebar-collapse-hide=""
              >
                Users
              </span>
            </a>
          </li>
        )
      }

      {
        currentRole === "Admin" && (
          <li>
            <a
              href={`${import.meta.env.NINJA_INVOICE_URL || "https://your-ninja-invoice-instance.com"}/admin`}
              target="_blank"
              rel="noopener noreferrer"
              class={`${anchorClasses}`}
              data-sidebar-collapse-item=""
            >
              <LucideIcon name="file-check" class={svgClasses} />

              <span
                data-sidebar-collapse-hide=""
                class="ml-3 flex-1 whitespace-nowrap text-left"
                data-sidebar-collapse-hide=""
              >
                Ninja Invoice Admin
              </span>
            </a>
          </li>
        )
      }

      <li>
        <a
          type="button"
          class={`${anchorClasses}`}
          aria-controls="dropdown-projects"
          data-collapse-toggle="dropdown-projects"
          data-sidebar-collapse-item=""
        >
          <LucideIcon
            name="folder"
            class="h-4 w-4 flex-shrink-0 text-gray-900 dark:text-gray-400"
          />

          <span class="ml-3 flex-1 whitespace-nowrap text-left" data-sidebar-collapse-hide=""
            >Projects</span
          >
          <LucideIcon name="chevron-right" class="h-4 w-4" data-sidebar-collapse-hide="" />
        </a>

        <ul id="dropdown-projects" class="hidden space-y-2 py-2">
          <li>
            <a href="/project/new" class={`${anchorClasses}`} data-sidebar-collapse-subitem=""
              >New</a
            >
          </li>
          <li>
            <a
              href="/project/dashboard/"
              class={`${anchorClasses}`}
              data-sidebar-collapse-subitem="">Dashboard</a
            >
          </li>
        </ul>
      </li>
      <li data-sidebar-collapse-hide="" id="online-count">
        0 online
        <!-- Online users tooltip -->
        <!-- <div
          class="absolute bottom-full left-0 z-50 mb-2 hidden min-w-32 rounded-lg bg-gray-800 p-2 text-xs text-white shadow-lg group-hover:block"
        >
          <div class="mb-1 font-medium">Online Users:</div>
          <div id="online-users-list" class="space-y-1">
            <div class="text-gray-300">No users online</div>
          </div>
        </div> -->
      </li>
    </ul>
    <div data-sidebar-collapse-hide="">
      <HttpChatWidget {currentUser} {currentRole} {globalInputClasses} />
    </div>
  </div>
</aside>
