---
// User center component for header
import SimpleIcon from "./SimpleIcon.astro";

const { currentUser, projects } = Astro.props;

const currentRole = currentUser?.profile?.role;
if (currentRole === "Client") {
  return null;
}
let assignedProjectsCount = 0;
let assignedProjects: any[] = [];

if (!projects) return null;

// get the projects with assignedToId === currentUser.id
assignedProjects = projects.filter((project: any) => project.assignedToId === currentUser.id);
assignedProjectsCount = assignedProjects.length;

// if (currentRole === "Staff" || currentRole === "Admin") {
//   // console.log("ðŸ—ï¸ [APP] Fetching assigned projects for user:", currentUser.id);
//   const baseUrl = Astro.url.origin;
//   const fullUrl = `${baseUrl}/api/projects/get?assignedToId=${currentUser.id}`;
//   // console.log("ðŸ—ï¸ [APP] Full URL:", fullUrl);
//   try {
//     const response = await fetch(fullUrl);
//     if (response.ok) {
//       const data = await response.json();
//       // console.log("ðŸ—ï¸ [APP] Assigned projects:", data);
//       assignedProjects = data.projects || [];
//       assignedProjectsCount = data.projects.length || 0;
//     }
//   } catch (error) {
//     console.error("Error fetching assigned projects:", error);
//   }
// } else if (currentRole === "Client") {
//   const baseUrl = Astro.url.origin;
//   const fullUrl = `${baseUrl}/api/projects/get?authorId=${currentUser.id}`;
//   // console.log("ðŸ—ï¸ [APP] Full URL:", fullUrl);
//   try {
//     const response = await fetch(fullUrl);
//     if (response.ok) {
//       const data = await response.json();
//       // console.log("ðŸ—ï¸ [APP] Assigned projects:", data);
//       assignedProjects = data.projects || [];
//       assignedProjectsCount = data.projects.length || 0;
//     }
//   } catch (error) {
//     console.error("Error fetching assigned projects:", error);
//   }
// }

// Fetch projects assigned to current user
---

{
  assignedProjectsCount > 0 && (
    <button
      type="button"
      class="align-center relative flex w-full rounded-lg p-2 hover:bg-gray-300 dark:hover:bg-gray-700"
      aria-expanded="false"
    >
      <SimpleIcon name="folder" variant="secondary" size="xs" id="assigned-projects-button">
        {" "}
        Assigned Projects
        <span class="sr-only">View assigned projects</span>
      </SimpleIcon>

      {/* <SimpleIcon name="chevron-down" class="h-4 w-4" data-sidebar-collapse-hide="" /> */}

      <span
        class="count-bubble dark:bg-primary-dark pulse absolute -right-2 -top-2 flex h-5 w-5 animate-pulse items-center justify-center rounded-full bg-primary-500 text-xs font-bold text-white"
        style="display: flex;"
      >
        {assignedProjectsCount.toString()}
      </span>
      <div>
        <ul class="space-y-2 py-2">
          {assignedProjects.slice(0, 5).map((project: any) => (
            <li>
              <a
                href={`/project/${project.id}`}
                class="align-center ml-2 flex w-full gap-2 rounded-lg p-2 hover:bg-gray-300 dark:hover:bg-gray-700"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="SimpleIcon map-pin-icon map-pin"
                >
                  <path d="M20 10c0 4.993-5.539 10.193-7.399 11.799a1 1 0 0 1-1.202 0C9.539 20.193 4 14.993 4 10a8 8 0 0 1 16 0" />
                  <circle cx="12" cy="10" r="3" />
                </svg>
                {project.title || project.address || "Untitled Project"}
              </a>
            </li>
          ))}
        </ul>
      </div>
    </button>
  )
}
