---
import BoxIcon from "./BoxIcon.astro";
import Button from "./Button.astro";
const { title, description, price, features, buttonText, buttonHref, buttonClass } = Astro.props;
---

<!-- <Card
title="Professional"
description="Ideal for growing companies and medium-sized projects"
price="$299/month"
features={[
  "Up to 25 active projects",
  "Advanced document management",
  "Priority email & phone support",
  "Advanced compliance tracking",
  "Custom reporting & analytics",
  "Team collaboration tools",
  "API access",
]}
buttonText="Get started"
buttonHref="/login?tab=register"
buttonClass="text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:ring-blue-200 font-medium rounded-full text-sm px-5 py-2.5 text-center dark:text-white dark:focus:ring-blue-900"
/> -->
<div
  class="text-text dark:text-text-dark _1jTZ8KXRZul60S6czNi SWeL9OnwkbKp0VeBUJlf mx-auto flex max-w-lg flex-col rounded-lg border border-border-light p-6 text-center shadow dark:border-border-dark xl:p-8"
>
  <h3 class="mb-4 text-2xl font-semibold text-black dark:text-white">{title}</h3>
  <p class="font-light text-text-secondary dark:text-text-secondary-dark sm:text-lg">
    {description}
  </p>
  <div class="my-8 flex items-baseline justify-center">
    <span class="mr-2 text-5xl font-extrabold text-black dark:text-white">{price}</span>
  </div>

  <!-- List -->
  <ul role="list" class="mb-8 space-y-4 text-left">
    {
      features.map((feature: string) => (
        <li class="flex items-center space-x-3">
          <BoxIcon name="check" class="h-5 w-5 flex-shrink-0 text-green-500 dark:text-green-400" />
          <span>{feature}</span>
        </li>
      ))
    }
  </ul>
  <Button
    href={buttonHref}
    class="rounded-full bg-blue-600 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-blue-700 focus:ring-4 focus:ring-blue-200 dark:text-white dark:focus:ring-blue-900"
  >
    {buttonText}
  </Button>
</div>
