---
import DebugPanel from "./DebugPanel.astro";
import StickySMS from "./StickySMS.astro";

const { currentUser, isBackend, debugData, globalInputClasses } = Astro.props;

const currentRole = currentUser?.profile?.role;

// Speed dial component for quick actions
---

<div id="speed-dial-container" class="fixed bottom-6 left-6 z-40">
  <DebugPanel currentUser={currentUser} debugData={debugData} currentRole={currentRole} />

  {
    currentRole !== "Admin" && currentRole !== "Staff" && (
      <StickySMS isBackend={isBackend} globalInputClasses={globalInputClasses} />
    )
  }
</div>
