---
interface SocialLink {
  url: string;
  label?: string;
}

interface Props {
  globalCompanyName?: string;
  isBackend?: boolean;
  globalCompanyPhone?: string;
  primaryTextClasses?: string;
  secondaryTextClasses?: string;
  globalInputClasses?: string;
  isAuthPage?: boolean;
  globalIconButtonClasses?: string;
  isAuthPageResult?: boolean;
  isContactPageResult?: boolean;
  currentUser?: any;
  hideFooter?: boolean;
  customFooterHtml?: string;
  socialNetworks?: SocialLink[];
}

const {
  currentUser,
  customFooterHtml,
  socialNetworks,
  globalCompanyName,
  globalCompanyPhone,
  primaryTextClasses,
  secondaryTextClasses,
  globalInputClasses,
  isAuthPage,
  isAuthPageResult,
  isContactPageResult,
  hideFooter,
} = Astro.props;

import Socials from "./Socials.astro";
import ToggleSidebar from "./ToggleSidebar.astro";
---

<footer
  id="reveal-footer"
  class="color-background fixed bottom-0 left-0 right-0 h-16 border-t border-gray-200 dark:border-gray-800"
>
  <div class="grid w-full grid-cols-3 items-center gap-2">
    <div class="hidden items-center justify-start md:flex">
      <Socials
        variant="minimal"
        size="md"
        colorScheme="default"
        gap="md"
        className="justify-center"
      />
    </div>

    <div class="flex items-center justify-start">
      <ToggleSidebar {currentUser} />
    </div>
    <div class="flex items-center justify-center p-2" aria-hidden="true">
      <a href="/" class="overscroll-scale cms-logo-mask h-12 w-12 shrink-0"></a>
    </div>
    <div class="flex items-center justify-end p-2"></div>
  </div>
  <!-- above? 
 
  class="position fixed bottom-0 left-0 right-0 flex mx-auto w-full min-w-0 gap-2 px-4 items-center justify-between -z-1 min-h-12"

  style="padding-bottom: env(safe-area-inset-bottom);" -->

  <!-- Bottom Banner Alerts (above footer) -->
  <!-- <BannerAlertsLoader position="bottom" pathname={Astro.url.pathname} {hideFooter} /> -->

  <!-- Legal Links -->

  <!-- <StickyActionButton
    {isAuthPageResult}
    {isContactPageResult}
    {currentUser}
    {isBackend}
    {primaryTextClasses}
    {secondaryTextClasses}
    {globalInputClasses}
    {globalCompanyName}
    {globalCompanyPhone}
  /> -->

  <!-- Social Networks -->
  <!-- {socialNetworks && socialNetworks.length > 0 && (
    <Socials 
      links={socialNetworks} 
      variant="footer" 
      size="md" 
      colorScheme="default"
      gap="sm"
    />
  )} -->
</footer>

<style>
  :global([data-template="fullform"]) #reveal-footer {
    background-color: transparent !important;
  }
</style>
