---
interface SocialLink {
  url: string;
  label?: string;
}

interface Props {
  globalCompanyName?: string;
  isBackend?: boolean;
  globalCompanyPhone?: string;
  primaryTextClasses?: string;
  secondaryTextClasses?: string;
  globalInputClasses?: string;
  isAuthPage?: boolean;
  globalIconButtonClasses?: string;
  isAuthPageResult?: boolean;
  isContactPageResult?: boolean;
  currentUser?: any;
  hideFooter?: boolean;
  customFooterHtml?: string;
  // socialNetworks?: SocialLink[];
}

const {
  globalCompanyName,
  isBackend,
  globalCompanyPhone,
  primaryTextClasses,
  secondaryTextClasses,
  globalInputClasses,
  isAuthPageResult,
  isContactPageResult,
  currentUser,
  customFooterHtml,
} = Astro.props;

import StickyActionButton from "../project/StickyActions.astro";
---

<footer
  id="reveal-footer"
  class="color-background fixed bottom-0 left-0 right-0 flex h-16 items-center justify-center border-t border-gray-200 px-4 dark:border-gray-800"
  data-app-footer
>
  <span class="absolute inset-0 flex items-center justify-center p-2" aria-hidden="true">
    <a href="/" class="overscroll-scale cms-logo-mask h-12 w-full shrink-0"></a>
  </span>
  <!-- above? 
 
  class="position fixed bottom-0 left-0 right-0 flex mx-auto w-full min-w-0 gap-2 px-4 items-center justify-between -z-1 min-h-12"

  style="padding-bottom: env(safe-area-inset-bottom);" -->

  <!-- Bottom Banner Alerts (above footer) -->
  <!-- <BannerAlertsLoader position="bottom" pathname={Astro.url.pathname} {hideFooter} /> -->

  <!-- Legal Links -->

  <StickyActionButton
    {isAuthPageResult}
    {isContactPageResult}
    {currentUser}
    {isBackend}
    {primaryTextClasses}
    {secondaryTextClasses}
    {globalInputClasses}
    {globalCompanyName}
    {globalCompanyPhone}
  />

  <!-- Social Networks -->
  <!-- {socialNetworks && socialNetworks.length > 0 && (
    <Socials 
      links={socialNetworks} 
      variant="footer" 
      size="md" 
      colorScheme="default"
      gap="sm"
    />
  )} -->

  <div class="align-center w-full justify-center space-x-3">
    {
      customFooterHtml && customFooterHtml.trim() && (
        <div class="custom-footer-html w-full" set:html={customFooterHtml} />
      )
    }
  </div>
</footer>

<style>
  :global([data-template="fullform"]) #reveal-footer {
    background-color: transparent !important;
  }
</style>
